[submodule "libs/htmlpurifier"]
	path = libs/htmlpurifier
	url = https://github.com/ezyang/htmlpurifier
[submodule "libs/imdb-grabber"]
	path = libs/imdb-grabber
	url = https://github.com/FabianBeiner/PHP-IMDB-Grabber.git
[submodule "libs/twitteroauth"]
	path = libs/twitteroauth
	url = https://github.com/abraham/twitteroauth.git
[submodule "libs/phplastfm"]
	path = libs/phplastfm
	url = https://github.com/matto1990/PHP-Last.fm-API.git
[submodule "libs/GoogleAuthenticator"]
	path = libs/GoogleAuthenticator
	url = https://github.com/PHPGangsta/GoogleAuthenticator.git
[submodule "libs/verot"]
	path = libs/verot
	url = https://github.com/verot/class.upload.php.git
