[submodule "libs/htmlpurifier"]
	path = libs/htmlpurifier
	url = https://github.com/ezyang/htmlpurifier
[submodule "libs/swiftmailer"]
	path = libs/swiftmailer
	url = https://github.com/swiftmailer/swiftmailer
[submodule "libs/GameQ"]
	path = libs/GameQ
	url = https://github.com/Austinb/GameQ
