[submodule "libs/htmlpurifier"]
	path = libs/htmlpurifier
	url = https://github.com/ezyang/htmlpurifier
[submodule "libs/swiftmailer"]
	path = libs/swiftmailer
	url = https://github.com/swiftmailer/swiftmailer
[submodule "libs/GameQ"]
	path = libs/GameQ
	url = https://github.com/Austinb/GameQ
[submodule "libs/facebook-php-sdk"]
	path = libs/facebook-php-sdk
	url = https://github.com/facebook/facebook-php-sdk.git
[submodule "libs/imdb-grabber"]
	path = libs/imdb-grabber
	url = https://github.com/FabianBeiner/PHP-IMDB-Grabber.git
[submodule "libs/youtube"]
	path = libs/youtube
	url = https://github.com/vitorhsb/youtube-public-php-api.git
[submodule "libs/bcrypt"]
	path = libs/bcrypt
	url = https://github.com/ircmaxell/password_compat.git
[submodule "libs/twitteroauth"]
	path = libs/twitteroauth
	url = https://github.com/abraham/twitteroauth.git
[submodule "libs/Mobile-Detect"]
	path = libs/Mobile-Detect
	url = https://github.com/serbanghita/Mobile-Detect.git
