/exs.lv/cache/*
/exs.lv/tmp/*
/exs.lv/upload/*
/exs.lv/dati/bildes/g*
/exs.lv/dati/bildes/u*
/exs.lv/configdb.php
/exs.lv/bildes/runescape/news/*
/exs.lv/modules/approve/av_l/*
/exs.lv/modules/approve/av_sm/*
/exs.lv/dati/bildes/topic-av/*
/exs.lv/mad182/*
/img.exs.lv/*
/m.exs.lv/av/*
/phpmyadmin/*
/ezgif/*
.idea
.gitignore
.DS_Store
