/exs.lv/cache/*
/exs.lv/tmp/*
/exs.lv/upload/*
/exs.lv/dati/bildes/g*
/exs.lv/dati/bildes/u*
/exs.lv/configdb.php
/exs.lv/bildes/runescape/news/*
/exs.lv/modules/approve/av_l/*
/exs.lv/modules/approve/av_sm/*
/exs.lv/dati/bildes/topic-av/*
/exs.lv/mad182/*
/exs.lv/dati/bildes/auto.exs.lv/*
/exs.lv/dati/bildes/av_sm/*
/exs.lv/dati/bildes/avatari/*
/exs.lv/dati/bildes/blogi/*
/exs.lv/dati/bildes/cirvji/*
/exs.lv/dati/bildes/dzimsanasdiena/*
/exs.lv/dati/bildes/exs_2011_ledmane_ridiculus/*
/exs.lv/dati/bildes/exs_2012_ogre/*
/exs.lv/dati/bildes/exs_2013_party/*
/exs.lv/dati/bildes/exs_2014_party/*
/exs.lv/dati/bildes/florbols-01-11-2014/*
/exs.lv/dati/bildes/florbols-02-11-2013/*
/exs.lv/dati/bildes/florbols-04-01-2013/*
/exs.lv/dati/bildes/futzals-06-04-2013/*
/exs.lv/dati/bildes/futzals-22-02-2014/*
/exs.lv/dati/bildes/futzals-by-m/*
/exs.lv/dati/bildes/futzals/*
/exs.lv/dati/bildes/jauniemonstri/*
/exs.lv/dati/bildes/lol/*
/exs.lv/dati/bildes/mad182/*
/exs.lv/dati/bildes/misc/*
/exs.lv/dati/bildes/motormuzejs/*
/exs.lv/dati/bildes/not-scared.gif*
/exs.lv/dati/bildes/pamacibas/*
/exs.lv/dati/bildes/raksti/*
/exs.lv/dati/bildes/stats_2009/*
/exs.lv/dati/bildes/streetball-16-11-2013/*
/exs.lv/dati/bildes/zgame/*
/exs.lv/dati/dati*
/exs.lv/dati/item_images/*
/exs.lv/dati/rs/*
/exs.lv/dati/speles/*
/exs.lv/dati/upload/*
/exs.lv/dati/wallpapers/*
/img.exs.lv/*
/m.exs.lv/av/*
/phpmyadmin/*
/ezgif/*
/.*
