/**
 * dark.css
 *
 * Tumšais skins. Overraido core.css krāsas
 * Izmantot TIKAI krāsām, layouts/izmēri definējas core.css
 */

body {
	background: url('http://img.exs.lv/bildes/dark/body.jpg') repeat 0 0;
	color: #eee
}

#wrapper {
	background: #444
}

.av, .mb-av, #profile-image, .auto-embed-placeholder, .auto-embed, .video-thb img, img.attels_centrets, img.attels_pa_kreisi, img.attels_pa_labi {
	background:#555;
	border:1px solid #333;
	-moz-box-shadow:2px 2px 3px #363636;
	-webkit-box-shadow:2px 2px 3px #363636;
	box-shadow:2px 2px 3px #363636
}

a {
	color: #ffc
}

a:hover {
	color: #ffd
}

#left h3, #right h3 {
	background: #333 url('http://img.exs.lv/m/a/mad/dark.png') repeat 0 0;
	color: #eee;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333
}

#player-mylist div, #player-playlist div, #wrapper .box, #forum td, .form fieldset, a.friend, #pm-read-footer, #comments dd, #comments dt, #movie-info, #friends-pending li {
	border-color: #333
}

#user-notify li, .user-actions li, .mb-col li, #latest-topics li, #miniblog-list li ul li, #footer .infoblock li a {
	border-bottom: 1px dotted #3a3a3a
}
.mb-col li.rs-linkcode {
    border-bottom: 1px solid #F1868A;
}

#player-mylist div, #player-playlist div, #user-notify li a:hover, #latest-topics li a:hover, .blockhref li a:hover {
	background-color: #3a3a3a
}

.core-pager a, .usr-awards li {
	background: #3a3a3a;
	border: 1px solid #333
}

.core-pager a.selected, #user-awards-inactive li {
	background: #343434;
	border: 1px solid #222
}

#pm-table td {
	background: #3a3a3a;
	border-color: #333
}

#pm-table tr:hover td {
	background: #3f3f3f;
	border-color: #333
}

#pm-table tr.read-0 td {
	background: #222
}

.tabs {
	background: transparent
}
.tabs li a {
	background: #555;
	border: 1px solid #333;
	text-shadow: 1px 1px 1px #222;
	border-bottom: 0;
	color: #bbb
}

.tabs li a:hover {
	color: #ccc;
	background: #444;
	border-color: #E6B800
}
.tabs li a.active, .tabs li a.selected, .tabs li a.active:hover {
	background: #404040;
	color: #ddd
}

.mbox {
	background: #3f3f3f
}

.form legend {
	color: #aaa
}

h1, h2, h3, h4, h5, h6 {
	color: #fafafa;
}

#footer {
	background: #333;
	border-top: 1px solid #252525
}

#footer .infoblock .inner, #online-users {
	background: #3a3a3a;
	border: 1px solid #444
}

.inf, #comments dt .username {
	background: #3f3f3f;
	color: #aaa
}
p.comment-tools {
	border-top: 1px dotted #333
}

.tabMain {
	background: #404040
}

code, pre, .code, span.c, .codebox, .prettyprint, blockquote, .q, .quote {
	background: #555;
	border-color: #666;
	border-left-color: #666;
	color: #ccc
}
.admins {
	color: #f32
}
.mods {
	color: #66f
}
.rautors {
	color: #6f6
}
.bot {
	color: #777
}
.banned {
	text-decoration: line-through;
	color: #000
}
html .banned {
	color: #000
}

dl.list-attr dt {
	color: #bbb
}

/* MOD sadaļās izmantotās tabulas stils (brīdinājumi, sūdzības) */
#mod_list_table th {
	color:#CAD9E7;
	border-bottom:2px solid #979899
}
#mod_list_table td {
	border-bottom:1px solid #595A5C
}
#mod_list_table .counter {
	color: #CACBCE;
}
.mod-table-list li .stronger {
	color:#CECECE;
}

/* MOD brīdinājumu saraksta sadaļas stils */
.removed_warn td {
	background:#4B4949;
	border-bottom:1px solid #55585C !important
}

/* MOD lietotāju meklēšanas forma */
#checkform {
	border:1px solid rgb(86, 90, 94);
}
#checkform th {
	border-bottom:2px solid rgb(128, 128, 128);
	color:rgb(255, 162, 139)
}
.form-input-box {
	border-bottom:2px solid rgb(127, 129, 134)
}
#checkform input[type=text] {
	border: 1px solid #eee;
	background: #ddd;
	box-shadow:none
}
#user-results td {
	border-bottom:1px dotted rgb(88, 83, 83);
	border-top:none
}
#user-results th {
	color:rgb(153, 156, 160);
	border-bottom:1px solid rgb(128, 128, 128)
}
.res-info {
	color:rgb(63, 67, 119)
}
.old-nicks {
	background:none;
	border-bottom:1px dotted #ddd;
}
.infop strong{
	color:rgb(255, 107, 107)
}
.ip-table strong {
	color:#C5C9CE
}

/* sūdzību iesniegšanas fancybox stili */
#report-title {
	border-bottom:1px dotted #eee;
	color:#FF6E5A
}
#form-block {
	border:1px solid #eee
}
.report-item {
	color:#3E5661
}
#report-description {
	color:#6a6c70
}
.report-content {
	color:#6A6C70
}
.report-error {
	color:orangered;
}
.report-response {
	color: #FF3F3F
}
.report-response-good {
	color: #4FAC5A
}

/* MOD iesniegto sūdzību pārvaldības stili */
.no-reports {
	color: #DADBE7;
	border-bottom: 1px solid #575252
}
#report-tabs .red {
	color:#ef6000
}
#archived_reports {
	background: #575858;
	border: 1px solid #636366;
}
#archived_reports:hover {
	background:#484A4D
}
#archived_reports.active {
	background: #626468;
	border: 1px solid #969799;
}
#archived_reports a {
	border-bottom:0
}

/* mb postu pogas */
.post-button {
	background: #444;
	color: #b4b4b7;
	border-color: #373737;
}

.post-delete {
	color: #933;
}

.deleted-entry {
	color: #E6E4E4;
	background: #313131;
}

#noindex-phone {
	background: url('/bildes/number-dark.gif') no-repeat 0 0;
}

#wrapper .article-info {
	background: #3a3a3a;
	border-top: 1px dotted #222;
	border-bottom: 1px dotted #222;
}

#wrapper .article-info li {
	color: #aaa;
}