body { 
font-size: 80%;
color: #222;
background: #fff;
font-family: 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
}

h1,h2,h3,h4 { font-weight: normal;color: #555}

h1 { font-size: 1.8em;line-height: 1;margin-bottom: 0.5em}
h2 { font-size: 1.6em;margin-bottom: 0.75em}
h3 { font-size: 1.4em;line-height: 1;margin-bottom: 1em}
h4 { font-size: 1.2em;line-height: 1.25;margin-bottom: 1.25em}

h1 img, h2 img, h3 img, 
h4 img {
margin: 0;
}

p { margin: 0 0 1.5em}
p img.left { float: left;margin: .2em 1.4em 1.4em 0}
p img.right { float: right;margin: .2em 0 1.4em 1.4em}

a:focus, 
a:hover { color: #000}
a { color: #369;text-decoration: none}

blockquote { margin: 1.5em;color: #666;font-style: italic}
strong { font-weight: bold}
em { font-style: italic}
sup, sub { line-height: 0}

pre { margin: 1.5em 0;white-space: pre}
pre,code,tt { font: 1em 'andale mono', 'lucida console', monospace;line-height: 1.5}

li ul, 
li ol { margin:0 1.5em}
ul, ol { margin: 0 1.5em 1.5em 1.5em}

ul { list-style-type: disc}
ol { list-style-type: decimal}

table { margin-bottom: 1.4em;width:100%}
th { font-weight: bold}
thead th 		{ background: #c3d9ff}
th,td { padding: 4px 10px 4px 5px}
tr.even td { background: #e5ecf9}

.small { font-size: .8em;margin-bottom: 1.875em;line-height: 1.875em}
.large { font-size: 1.2em;line-height: 2.5em;margin-bottom: 1.25em}
.hide { display: none}

.quiet { color: #666}
.loud { color: #000}
.highlight { background:#ff0}
.added { background:#060;color: #fff}
.removed { background:#900;color: #fff}

.first { margin-left:0;padding-left:0}
.last { margin-right:0;padding-right:0}
.top { margin-top:0;padding-top:0}
.bottom { margin-bottom:0;padding-bottom:0}
.author {
text-align: right;
color: #666;
}

.error, .alert, .notice, .success, .info {padding:0.8em;margin-bottom:1em;border:2px solid #ddd}
.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324}
.success {background:#e6efc2;color:#264409;border-color:#c6d880}
.info {background:#d5edf8;color:#205791;border-color:#92cae4}
.error a, .alert a {color:#8a1f11}
.notice a {color:#514721}
.success a {color:#264409}
.info a {color:#205791}

.inlinecode {
font-family: Courier, 'Courier New', Verdana, Arial;
background: #f3f3f3;
color: #369
}
body {
padding: 0;
margin: 0;
width: 100%;
height: 100%;
background: #fff url('../bildes/ezgif/bg.gif');
}
a img, fieldset {
border: 0;
}
.clear {
clear: both;
font-size: 1px;
line-height: 0;
margin: 0;
padding: 0
}
#wrapper {
width: 965px;
padding: 14px;
margin: 10px auto;
background: #fff;
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3);
	-moz-box-shadow:0 1px 1px rgba(0,0,0,0.3);
	box-shadow:0 1px 1px rgba(0,0,0,0.3);
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
	-o-border-radius:2px;
	border-radius:2px;
}
#header {
height: 124px;
padding: 10px 0 2px;
border-bottom: 5px solid #eee;
}
#logo {
float: left;
width: 235px;
height: 90px;
padding: 0;
line-height: 38px;
text-decoration: none;
color: #222;
font-size: 36px;
background: url('../bildes/ezgif/logo.png') no-repeat 0 18px;
text-indent: -9999px;
}
#logo span {
display: block;
font-size: 14px;
line-height: 16px;
color: #444;
}	
#top-menu {
list-style: none;
padding: 8px 0 0 20px;
margin: 0;
float: left;
height: 28px;
}
#top-menu li {
padding: 0;
margin: 0;
float: left;
height: 28px;
}
#top-menu li a {
padding: 4px 12px 2px 32px;
margin: 0 4px;
float: left;
height: 22px;
line-height: 22px;
text-decoration: none;
font-size: 12px;
color: #222;
font-weight: bold;
-webkit-border-top-left-radius: 2px;
-webkit-border-top-right-radius: 2px;
-moz-border-radius-topleft: 2px;
-moz-border-radius-topright: 2px;
border-top-left-radius: 2px;
border-top-right-radius: 2px;
}
#top-menu li a.home {
background: url('../bildes/ezgif/ico.png') no-repeat 10px -20px;
}
#top-menu li a.crop {
background: url('../bildes/ezgif/ico.png') no-repeat 10px -72px;
}
#top-menu li a.resize {
background: url('../bildes/ezgif/ico.png') no-repeat 10px -98px;
}
#top-menu li a.optimize {
background: url('../bildes/ezgif/ico.png') no-repeat 10px -46px;
}
#top-menu li a.split {
background: url('../bildes/ezgif/ico.png') no-repeat 10px 6px;
}
#top-menu li a:hover, #top-menu li a:active {
text-decoration: underline;
}
#top-menu li.selected a {
background-color: #eee;
}
#pagepath {
display: none;
}
#main {
float: left;width:780px;padding: 10px 0 30px
}
#sidebar {
float: right;width:160px;margin: 10px 0 0
}
#footer {
margin: 10px 0 0;
padding: 8px 15px;
background: #eee;
font-size: 11px;
}
#footer p {
padding: 0;
margin: 0;
float: left;
font-style: italic;
}
#footer p#footer-links {
float: right;
}
.opi-orange {
color: #f4880a;
}
.opi-blue {
color: #00aeed;
}

#giftools-menu {
padding: 0;
margin: 30px 0 30px 155px;
height: 96px;
list-style: none;
}

#giftools-menu li {
float: left;
width: 96px;
height: 120px;
padding: 0;
margin: 10px;
}

#giftools-menu li a {
float: left;
width: 96px;
height: 20px;
padding: 0;
margin: 0;
padding: 100px 0 0 0;
font-size: 12px;
text-align: center;
}
#giftools-menu li.crop a {
background: url('../bildes/ezgif/icons-96.png') no-repeat 0 0;
}
#giftools-menu li.resize a {
background: url('../bildes/ezgif/icons-96.png') no-repeat -97px 0;
}
#giftools-menu li.optimize a {
background: url('../bildes/ezgif/icons-96.png') no-repeat -194px 0;
}
#giftools-menu li.split a {
background: url('../bildes/ezgif/icons-96.png') no-repeat -291px 0;
}
body #crop-result {
background: #f6f6f7;
color: #555;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
display: block;
margin: 1em 0;
padding: 16px;
border: 1px dashed #333;
}

#crop-result p {
padding: 5px 0;
margin: 0;
}

#flash-message {
margin: 16px 0;
}
#flash-message p {
font-size: 11px;
padding: 2px 5px;
margin: 0;
line-height: 14px;
border-width: 1px
}
.tweet_list {
list-style: none;
margin: 0;
padding: 0;
}

.tweet_list li {
overflow-y: auto;
overflow-x: hidden;
padding: 0.5em;
list-style-type: none;
-webkit-border-radius: 0.5em;
-moz-border-radius: 0.5em;
border-radius: 0.5em;
overflow-y: hidden;
background-color: #ececec;
margin: 8px 0 0;
}

.tweet_list .tweet_even {
background-color: #f7f7f7;
}

.tweet_list .tweet_avatar {
padding-right: .5em;float: left;
}

.tweet_list .tweet_avatar img {
vertical-align: middle;
}

.tweet_text {
display: block;
}

.button.danger, .button.danger:hover, .button.error, .button.error:hover, .button.success, .button.success:hover, .button.info, .button.info:hover, .alert-message.danger, .alert-message.danger:hover, .alert-message.error, .alert-message.error:hover, .alert-message.success, .alert-message.success:hover, .alert-message.info, .alert-message.info:hover {
color: #fff
}
.button .close, .alert-message .close {
font-family: Arial, sans-serif;
line-height: 18px
}
.button.danger, .button.error, .alert-message.danger, .alert-message.error {
background-color: #c43c35;
background-repeat: repeat-x;
background-image: -khtml-gradient(linear,left top,left bottom,from(#ee5f5b), to(#c43c35));
background-image: -moz-linear-gradient(top,#ee5f5b,#c43c35);
background-image: -ms-linear-gradient(top,#ee5f5b,#c43c35);
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ee5f5b), color-stop(100%,#c43c35));
background-image: -webkit-linear-gradient(top,#ee5f5b,#c43c35);
background-image: -o-linear-gradient(top,#ee5f5b,#c43c35);
background-image: linear-gradient(top,#ee5f5b,#c43c35);
filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FFEE5F5B',endColorstr='#FFC43C35',GradientType=0);
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
border-color: #c43c35 #c43c35 #882a25;
border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) fadein(rgba(0,0,0,0.1), 15%)
}
.button.success, .alert-message.success {
background-color: #57a957;
background-repeat: repeat-x;
background-image: -khtml-gradient(linear,left top,left bottom,from(#62c462), to(#57a957));
background-image: -moz-linear-gradient(top,#62c462,#57a957);
background-image: -ms-linear-gradient(top,#62c462,#57a957);
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#62c462), color-stop(100%,#57a957));
background-image: -webkit-linear-gradient(top,#62c462,#57a957);
background-image: -o-linear-gradient(top,#62c462,#57a957);
background-image: linear-gradient(top,#62c462,#57a957);
filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FF62C462',endColorstr='#FF57A957',GradientType=0);
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
border-color: #57a957 #57a957 #3d773d;
border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) fadein(rgba(0,0,0,0.1), 15%)
}
.button.info, .alert-message.info {
background-color: #339bb9;
background-repeat: repeat-x;
background-image: -khtml-gradient(linear,left top,left bottom,from(#5bc0de), to(#339bb9));
background-image: -moz-linear-gradient(top,#5bc0de,#339bb9);
background-image: -ms-linear-gradient(top,#5bc0de,#339bb9);
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#5bc0de), color-stop(100%,#339bb9));
background-image: -webkit-linear-gradient(top,#5bc0de,#339bb9);
background-image: -o-linear-gradient(top,#5bc0de,#339bb9);
background-image: linear-gradient(top,#5bc0de,#339bb9);
filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FF5BC0DE',endColorstr='#FF339BB9',GradientType=0);
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
border-color: #339bb9 #339bb9 #22697d;
border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) fadein(rgba(0,0,0,0.1), 15%)
}
.button {
font-family: tahoma, verdana, arial;
cursor: pointer;
display: inline-block;
background-color: #e6e6e6;
background-repeat: no-repeat;
background-image: -webkit-gradient(linear,0 0,0 100%,from(#fffffe), color-stop(25%,#fffffe), to(#e6e6e6));
background-image: -webkit-linear-gradient(#fffffe,#fffffe 25%,#e6e6e6);
background-image: -moz-linear-gradient(top,#fffffe,#fffffe 25%,#e6e6e6);
background-image: -ms-linear-gradient(#fffffe,#fffffe 25%,#e6e6e6);
background-image: -o-linear-gradient(#fffffe,#fffffe 25%,#e6e6e6);
background-image: linear-gradient(#fffffe,#fffffe 25%,#e6e6e6);
filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFE',endColorstr='#FFE6E6E6',GradientType=0);
padding: 5px 13px 5px;
text-shadow: 0 1px 1px #ccc;
color: #333;
text-decoration: none;
font-size: 11px;
line-height: normal;
border: 1px solid #ccc;
border-bottom-color: #bbb;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
-webkit-transition: 0.1s linear all;
-moz-transition: 0.1s linear all;
-ms-transition: 0.1s linear all;
-o-transition: 0.1s linear all;
transition: 0.1s linear all
}
.button:hover {
background-position: 0 -15px;
color: #333;
text-decoration: none
}
.button:focus {
outline: 1px dotted #666
}
.button.primary {
color: #fff;
background-color: #0064cd;
background-repeat: repeat-x;
background-image: -khtml-gradient(linear,left top,left bottom,from(#049cdb), to(#0064cd));
background-image: -moz-linear-gradient(top,#049cdb,#0064cd);
background-image: -ms-linear-gradient(top,#049cdb,#0064cd);
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#049cdb), color-stop(100%,#0064cd));
background-image: -webkit-linear-gradient(top,#049cdb,#0064cd);
background-image: -o-linear-gradient(top,#049cdb,#0064cd);
background-image: linear-gradient(top,#049cdb,#0064cd);
filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FF049CDB',endColorstr='#FF0064CD',GradientType=0);
text-shadow: 0 -1px 0 #444;
border-color: #0064cd #0064cd #003f81;
border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) fadein(rgba(0,0,0,0.1), 15%)
}
.button:active, .button.active {
-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.25), 0 1px 2px rgba(0,0,0,0.05);
-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.25), 0 1px 2px rgba(0,0,0,0.05);
box-shadow: inset 0 2px 4px rgba(0,0,0,0.25), 0 1px 2px rgba(0,0,0,0.05)
}
.button.disabled {
cursor: default;
background-image: none;
filter: progid: DXImageTransform.Microsoft.gradient(enabled = false);
filter: alpha(opacity=65);
-khtml-opacity: 0.65;
-moz-opacity: 0.65;
opacity: 0.65;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none
}
.button[disabled] {
cursor: default;
background-image: none;
filter: progid: DXImageTransform.Microsoft.gradient(enabled = false);
filter: alpha(opacity=65);
-khtml-opacity: 0.65;
-moz-opacity: 0.65;
opacity: 0.65;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none
}
.button.large {
font-size: 15px;
line-height: normal;
padding: 9px 14px 9px;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px
}
.button.small {
padding: 2px 9px 2px;
font-size: 11px
}
:root .alert-message,:root .button {
border-radius: 0 \0
}
button.button::-moz-focus-inner, input[type=submit].button::-moz-focus-inner {
padding: 0;
border: 0
}
.form legend {
font-size: 13px
}
.form fieldset {
padding-top: 1em
}
.form label .description {
font-weight: 400;
font-size: 90%;
width: 300px
}
.form label.checkbox {
font-weight: normal
}
.form fieldset {
border: 1px solid #eee;
margin: .5em 0 1.5em;
padding: 1.4em;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px
}
.form legend {
font-weight: 700;
font-size: 13px;
font-family: 'Trebuchet MS', sans-serif, tahoma, verdana, arial;
color: #555
}
.form input.text, .form input.title, .form textarea, .form select {
border: 1px solid #bbb;
background: #fff;
margin: .5em 0;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px
}
.form input.text:focus, .form input.smtext:focus, .form input.title:focus, .form textarea:focus, .form select:focus {
border: 1px solid #666
}
.form input.text, .form input.title {
width: 300px;
padding: 5px
}
.form input.text.tiny {
width: 45px;
padding: 2px 3px;
font-size: 11px;
}
.form input.title {
font-size: 1.5em
}
.form textarea {
width: 400px;
height: 200px;
font-family: verdana;
font-size: 100%;
padding: 5px
}
.form textarea.mb-textarea {
width: 80%;
height: 62px
}
.form .error, .form .notice, .form .success {
margin-bottom: 1em;
border: 2px solid #ddd;
padding: .8em
}
.form .error {
background: #FBE3E4;
color: #8a1f11;
border-color: #FBC2C4
}
.form .notice {
background: #FFF6BF;
color: #514721;
border-color: #FFD324
}
.form .success {
background: #E6EFC2;
color: #264409;
border-color: #C6D880
}
.form .error a {
color: #369
}
.form .notice a {
color: #369;
}
.form .success a {
color: #369
}

/* jquery.Jcrop.min.css */
.jcrop-holder{direction:ltr;text-align:left}
.jcrop-vline,.jcrop-hline{background:#FFF url('Jcrop.gif') top left repeat;font-size:0;position:absolute}
.jcrop-vline{height:100%;width:1px!important}
.jcrop-hline{height:1px!important;width:100%}
.jcrop-vline.right{right:0}
.jcrop-hline.bottom{bottom:0}
.jcrop-handle{background-color:#333;border:1px #eee solid;font-size:1px}
.jcrop-tracker{-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;-webkit-user-select:none;height:100%;width:100%}
.jcrop-handle.ord-n{left:50%;margin-left:-4px;margin-top:-4px;top:0}
.jcrop-handle.ord-s{bottom:0;left:50%;margin-bottom:-4px;margin-left:-4px}
.jcrop-handle.ord-e{margin-right:-4px;margin-top:-4px;right:0;top:50%}
.jcrop-handle.ord-w{left:0;margin-left:-4px;margin-top:-4px;top:50%}
.jcrop-handle.ord-nw{left:0;margin-left:-4px;margin-top:-4px;top:0}
.jcrop-handle.ord-ne{margin-right:-4px;margin-top:-4px;right:0;top:0}
.jcrop-handle.ord-se{bottom:0;margin-bottom:-4px;margin-right:-4px;right:0}
.jcrop-handle.ord-sw{bottom:0;left:0;margin-bottom:-4px;margin-left:-4px}
.jcrop-dragbar.ord-n,.jcrop-dragbar.ord-s{height:7px;width:100%}
.jcrop-dragbar.ord-e,.jcrop-dragbar.ord-w{height:100%;width:7px}
.jcrop-dragbar.ord-n{margin-top:-4px}
.jcrop-dragbar.ord-s{bottom:0;margin-bottom:-4px}
.jcrop-dragbar.ord-e{margin-right:-4px;right:0}
.jcrop-dragbar.ord-w{margin-left:-4px}
.jcrop-light .jcrop-vline,.jcrop-light .jcrop-hline{background:#FFF;filter:Alpha(opacity=70)!important;opacity:.70!important}
.jcrop-light .jcrop-handle{-moz-border-radius:3px;-webkit-border-radius:3px;background-color:#000;border-color:#FFF;border-radius:3px}
.jcrop-dark .jcrop-vline,.jcrop-dark .jcrop-hline{background:#000;filter:Alpha(opacity=70)!important;opacity:.7!important}
.jcrop-dark .jcrop-handle{-moz-border-radius:3px;-webkit-border-radius:3px;background-color:#FFF;border-color:#000;border-radius:3px}
.jcrop-holder img,img.jcrop-preview{max-width:none}

#animation-frames {
list-style: none;
padding: 0;
margin: 0;
}
#animation-frames li {
float: left;
padding: 2px;

}
#animation-frames li img {
max-height: 90px;
border: 1px solid #000;
border-top: 1px dotted #000;
border-bottom: 1px dotted #000;
}
