/* galeriju css */

#gal-large {
	margin: 0 auto;
	padding: 10px;
	position: relative;
	text-align: center;
}

#gal-large img {
	max-width: 100%;
	width: auto;
	height: auto;
}

#gal-large .img-newer, #gal-large .img-older {
	position: absolute;
	width: 33%;
	height: 100%;
	padding: 0;
	margin: 0;
	outline: none;
	text-indent: -99999px;
	top: 0;
}

#gal-large .img-newer {
	left: 0;
}

#gal-large .img-older {
	right: 0;
}

#gal-large .img-newer:hover {
	background: url('//img.exs.lv/bildes/arrow-left.png') no-repeat 30% 50%;
}

#gal-large .img-older:hover {
	background: url('//img.exs.lv/bildes/arrow-rgt.png') no-repeat 70% 50%;
}

.scrollable {
	position: relative;
	overflow: hidden;
	width: 90%;
	height: 76px;
	border: 0;
	float: left;
	margin: 5px 0 10px;
	padding: 0;
}

.scrollable .items {
	width: 20000em;
	position: absolute;
	clear: both;
}

.scrollable .active {
	border: 2px solid #000;
	position: relative;
	cursor: default;
}

.browse {
	vertical-align: baseline;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-size: 15px;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	line-height: 19px;
	display: block;
	width: 4%;
	height: 20px;
	float: left;
	padding: 28px 0;
	margin: 0;
}

a.right {
	clear: right;
	margin-right: 0;
}

a.left {
	margin-left: 0;
}

.scrollable a.disabled {
	visibility: hidden!important;
}

