/**
 *  Lietotāju profilu pārvaldības sadaļu CSS.
 */

/*--------------------------------
| Profilu sasaiste.
|-------------------------------*/

#prof_mgmt .note-top, #prof_mgmt .note-empty {
    margin-top:20px;
    margin-bottom:20px;
}

.prof-mgmt-forms {
	padding:10px 20px;
	margin:10px 3px;
	border:1px solid #EBEBEB;
	background:rgb(252, 252, 252);
    box-sizing:border-box;
}
    .prof-mgmt-forms div:first-child {
        float:left;
    }
    .prof-mgmt-forms div:nth-child(2) {
        float:right;
    }
    .prof-mgmt-forms div {
        width:45%;
        box-sizing:border-box;
    }
    .prof-mgmt-forms input[type=text] {
        margin-bottom:0;
        margin-right:4px;
    }
    .prof-mgmt-forms input:focus {
        outline:0;
    }
    .prof-mgmt-forms .button {
        text-transform:uppercase;
    }
    @media all and (max-width: 1200px) {
        .prof-mgmt-forms input[type=text] {
            width:70px;
        }
    }

#profile-list, .child-table {
    width:100%;
    box-sizing:border-box;
    margin-left:0;
    margin-right:0;
}
#profile-list td:nth-child(1) {
    text-align:center;
    width:5%;
}
#profile-list td:nth-child(2) {
    text-align:left;
    width:50%;
}
#profile-list td:nth-child(3) {
    text-align:center;
    width:15%;
}
#profile-list td:nth-child(4) {
    text-align:right;
    width:30%;
}
#profile-list td:nth-child(4) a {
    margin-left:5px;
}
#profile-list td:nth-child(4) a:hover {
    text-decoration:none;
}

#profile-list tr.main-profile:nth-child(4n + 2) {
	background:#FAFAFA;
}
	.main-profile td:nth-child(2) {
		position:relative
	}
	.show-children {
		padding:5px 15px 0;
		position:absolute;
		top:5px;
		right:0
	}
	.show-children:hover {
		background:rgb(243, 243, 243)
	}
    
#profile-list .child-table td:nth-child(1) {
    text-align:center;
    width:5%;
}
#profile-list .child-table td:nth-child(2) {
    text-align:left;
    width:40%;
}
#profile-list .child-table td:nth-child(3) {
    text-align:left;
    width:20%;
}
#profile-list .child-table td:nth-child(4) {
    text-align:left;
    width:20%;
}
#profile-list .child-table td:nth-child(5) {
    text-align:right;
    width:15%;
}


.child-block {
	background:#F7FBFF;
	border:1px solid #E2E6F1;
	margin-left:10px;
	padding:10px 20px
}

.profiles-description {
	width:450px;
	min-height:130px
}

/*--------------------------------
| Profilu meklētājs.
|-------------------------------*/

#findby {
	padding:20px;
	border:1px solid #ddd;
	margin:20px auto 10px;
	width:100%;
    box-sizing:border-box;
}

#findby form {
    margin-bottom:0;
    padding:0 0 5px
}

#findby form > p {
    margin-bottom:5px
}

#findby th {
	padding:5px 8px;
	border-bottom:2px solid #ccc;
	color:rgb(255, 112, 76)
}

.form-input-box {
	border-bottom:1px solid #ddd;
	padding-bottom:10px;
	margin-bottom:7px;
	display:block
}

#findby input[type=text] {
	width:250px;
    margin-bottom:0;
    margin-right:5px;
	padding:3px 5px;
	border:1px solid #bbb;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px
}

#findby .button {
    text-transform:uppercase;
}

/* uz šaura ekrāna izpletīs input visā platumā, poga aizceļos uz labo sānu */
@media (max-width:450px) {
    #findby input[type=text] {
        width:100%
    }
    #findby .button {
        margin-top:5px;
        float:right;
        position:relative;
        right:-12px
    }
}

#user-results {
	margin-top:10px;
    width:100%;
}

#user-results th, #user-results td {
	padding:3px 12px;
	border-bottom:1px solid #ddd
}

#user-results td {
	padding:4px 8px;
	border-top:none
}

#user-results .th td {
	color:#F33A24
}

#user-results tr td:nth-child(1) {
    text-align:left;
    width:25%;
}
    #user-results tr td:nth-child(2) {
        text-align:left;
        width:20%;
    }
    #user-results tr td:nth-child(3) {
        text-align:center;
        width:30%;
    }
    #user-results tr td:nth-child(4) {
        text-align:center;
        width:10%;
    }
    #user-results tr td:nth-child(5) {
        text-align:center;
        width:10%;
    }
    
#user-results .th td {
	color:rgb(73, 81, 90)
}

#user-results p a {
	margin-left:10px
}

#findby .toggle-rows {
	text-align:center
}

#findby .res-info {
	color:rgb(63, 67, 119)
}

#findby .old-nicks {
	background:none;
	margin-left:0;
	padding:5px 7px;
	border-bottom:1px dotted #ddd
}

#user-results .wider-row {
	padding-left:30px !important
}

#user-results .wider-row p {
	margin:5px 0
}

.note.note-findby {
    background:rgb(252, 252, 252);
    border:1px solid #DBE5E9;
}

#ip_block {
	clear:both;
	margin-bottom:10px;
	overflow:auto
}
    .ip-table {
        float:left;
        margin-right:25px;
        width:45%;
    }
    
#show_more_all, #show_more_unique {
	text-align:center
}

#mgmt_usernames {
    table-layout:fixed;
    width:65% !important;
    margin-bottom:20px;
}
    #mgmt_usernames td {
        border-right: 15px solid transparent;
    }
    #mgmt_usernames td:nth-child(1) {
        width:20% !important;
    }
    #mgmt_usernames td:nth-child(2) {
        width:25% !important;
    }

#findby .user-search-pages {
    padding:10px 0
}

#findby .ajax-search-page {
    padding:5px 12px;
    background:#F0F7FF
}
