/**
 * Privāto ziņu stils
 */
#pm-table {
	border: 0;
	width: 100%;
	border-collapse: collapse
}
#pm-table td {
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	padding: 3px 7px;
	background: #fff;
	line-height: 16px
}
#pm-table tr:hover td {
	background: #F5F5F6
}
#pm-table td.title {
	font-weight: 700
}
#pm-table td.title a {
	display: block
}
#wrapper #pm-table td.pm {
	background: transparent url('http://exs.lv/bildes/fugue-icons/mail.png') no-repeat 50% 50%;
}
#wrapper #pm-table td.pm-read {
	background: transparent url('http://exs.lv/bildes/fugue-icons/mail-open.png') no-repeat 50% 50%;
}
#pm-table th {
	text-align: center;
	font-weight: 700
}
#wrapper #pm-table th.pmdate {
	width: 120px;
	padding: 3px 7px
}
#wrapper #pm-table td.pmdate a {
	color:#777;
	display:block;
	text-align:right
}
#pm-table th.isread, #pm-table td.isread {
	text-align: center
}
#pm-table tr.read-0 td {
	background: #fbe6f3
}
#pm-read-footer {
	border-top: 1px solid #eee;
	margin: 10px 0 0;
	padding: 10px 0 2px
}
#pm-h {
	padding: 6px 0
}
#pm-h h3 {
	font-size: 110%;
	font-weight: 400;
	background: #ECEFF5;
	padding: 3px 10px;
	margin: 10px 0 3px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px
}
#pm-h h3 span {
	float: right;
	font-size: 100%;
	color: #999
}
.pm-h-content {
	padding: 3px 10px
}
#wrapper .inbox {
	background: url('http://img.exs.lv/bildes/icons.png') no-repeat 0 -520px
}
#wrapper .outbox {
	background: url('http://img.exs.lv/bildes/icons.png') no-repeat 0 -546px
}
#wrapper .compose {
	background: url('http://img.exs.lv/bildes/icons.png') no-repeat 0 -572px
}
#wrapper .mail-search {
	background: url('http://img.exs.lv/bildes/icons.png') no-repeat 0 -598px;
}
