body {
    background:url('/bildes/runescape/wallpapers/magic_1920x1080.jpg') no-repeat fixed 50% 0
}
#scroll-up {
    padding:10px;
    width:24px;
    height:24px;
    background:rgba(0, 0, 0, 0.5) url('/bildes/fugue-icons/icons-24/arrow_down.png') no-repeat 50% 50%;
    position:fixed;
    z-index: 50;
    right:50px;
    bottom:-100px;
    border: 1px solid #67717A;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    opacity:0.6;
    filter:alpha(opacity=60); /* For IE8 and earlier */
}
    #scroll-up:hover {
        cursor:pointer;
        border:1px solid #8896A2;
        opacity:1.0;
        filter:alpha(opacity=100); /* For IE8 and earlier */
    }
.clearfix {
    margin:0;
    padding:0;
    clear:both
}    

/* pārrakstītie core.css elementi */
#wrapper {
    position:relative;
    margin-top:31px;
    padding:0 0 10px 0;
    background:#CECFCF url('/bildes/runescape/pattern-1.png');    
    box-shadow: 0 9px 0 0 transparent, 0 9px 15px -4px rgba(6, 6, 14, 0.6), 12px 0 15px -4px rgba(6, 6, 14, 0.6), -12px 0 15px -4px rgba(6, 6, 14, 0.6);
    -moz-box-shadow: 0 9px 0 0 transparent, 0 9px 15px -4px rgba(6, 6, 14, 0.6), 12px 0 15px -4px rgba(6, 6, 14, 0.6), -12px 0 15px -4px rgba(6, 6, 14, 0.6);
    -webkit-box-shadow: 0 9px 0 0 transparent, 0 9px 15px -4px rgba(6, 6, 14, 0.6), 12px 0 15px -4px rgba(6, 6, 14, 0.6), -12px 0 15px -4px rgba(6, 6, 14, 0.6);
}
#left, #content, #right {
    float:left;
    left:0
}
#left {
    margin-left:0;
    width:206px
}
#right {
    width:180px
}
#content {
    margin-left:10px;
    width:550px
}
#content.no-left-right {
    width:95%
}
#content.no-left {
    width:772px
}
#content.no-right {
    width:744px
}
.no-right #left {
    left:0 !important
}
#top-menu #top-menu-right li ul#user-group-menu {
    width:330px;
    left:-100px
}
#top-menu #top-menu-right li ul#user-group-menu li {
    width:160px
}
#top-menu #top-menu-right li ul#user-group-menu li a {
	background: transparent;
	display: block;
	padding: 0 3px 0 0;
	margin: 0;
	height: auto;
	width: auto;
	font-family: Arial;
	font-size: 11px;
	line-height: 14px;
}
#login-block {
    margin:0 10px 0 0;
    padding:0;
    float:right
}
#login-block li {
    margin:0
}
#login-block .less-padding a {
    padding:4px 0;
    margin: 2px 5px;
}
#login-form {
    padding-top:0;
    height:auto;
    padding-bottom:2px
}    
    #login-form input {
        background:#293446;
        border:1px solid #373A53;
        color:#CEDDEC;
        font-size:11px;
        padding:2px 7px;
        margin-top:6px;
        width:90px;
        font-family:verdana, tahoma, arial;
    }
    #login-form input:focus {
        outline:0;
        border:1px solid #484C74
    }
    #login-form input.login-submit {
        margin-top:6px
    }
    #login-block a.external-fb span {
        background: url("http://img.exs.lv/bildes/login.png") no-repeat scroll 0px -58px transparent;
        width: 55px;
    }
    #login-block a.external-login span {
        height: 18px;
        float: left;
        text-indent: -9999px;
        outline: 0px none;
        line-height: 18px;
    }
    #login-block a.external-dr span {
        background: url("http://img.exs.lv/bildes/login.png") no-repeat scroll 0px -40px transparent;
        width: 76px;
    }
#header-stuff {
    top:7px
}
#top-menu {
    background:url('/bildes/runescape/pattern-navig.png') repeat-x;
    border-top: 1px solid #363535;
    border-bottom: 1px solid #363535;
    z-index:100;
    width:inherit;
    font-family:verdana,ubuntu,tahoma,arial;
}
#top-menu li.selected a, #top-menu li a:hover, #top-menu li:hover a {
	background: #2090cc url('http://img.exs.lv/m/a/mad/blue.png') repeat 0 0;
	color: #222;
	text-decoration: none;
	margin: 0;
	margin-top: -1px;
	padding-top: 1px;
	text-shadow: 0 1px 0 #59add2;
}
#tools-bar {
    background:#111010;
    padding:0 8px
}
#wrapper #pm-table th.pmdate {
    width:25%
}
div pre {
    font-size:11px
}
#exs-groups li {
    width:30%
}
#user-group-menu li {
    font-size:10px
}
#top-menu-right li ul#user-group-menu li {
    width:150px;
    padding-left:0
}
#top-menu-right li li a {
    padding-left:2px
}
#top-menu-right li ul#user-group-menu {
    left:-157px;
    width:465px
}
#top-menu li ul li a, #wrapper #top-menu li.selected ul li a, #wrapper #top-menu li:hover ul li a {
    width:150px
}
#top-menu li:hover ul {
    display: block
}
#exs-groups h3 {
    margin: 5px 0 2px;
}
#online-users span {
    font-size:11px !important
}
.top-navig .red, .top-navig .r {
	color: #ef6000;
}
.top-navig .green, .top-navig .g {
	color: #60ef00;
}


/* jaunie lapas pamatbloki */
.top-navig {
    background:#000 url('/bildes/runescape/nav-pattern-blue.png') repeat-x;
    border-bottom:2px solid #000;
    color:#6D93A5;
    height:30px;
    width:100%;
    position:fixed;
    top:0;
    z-index:300
}
.top-navig nav {
   width:996px;
   margin:0 auto;
   padding:0;
   border-left:1px solid #2D2E2E;
   border-right:1px solid #2D2E2E;
   font-size: 11px;   
}
    .top-navig ul, .top-navig li {
        margin:0;
        padding:0;        
        float:left;
        background-image:none
    }
    .top-navig ul a {
        color:#A5BCCE;
        font-family:verdana, tahoma, arial;
        padding:7px 14px;
        display:inline-block;
    }
    .top-navig ul a:hover {
        color:#8DB2EB;
        text-decoration:none        
    }
    .top-navig ul li:hover {
        background:url('/bildes/runescape/nav-pattern-blue-2.png') repeat-x
    }
ul.nav-right {
    float:right      
}
#header-navig {
    overflow:hidden;
    padding:0 0 0 20px;
    border-bottom:1px solid #424346;
    font-size:11px;
    background:#0E0F0F;
    color:#6D93A5;
}
    #header-navig ul {
       margin:0;
       padding:0
    }
    #header-navig li {
        margin:0;
        float:left;
        background:none;
        padding:0
    }
    #header-navig a {
        color:#9AADBB;
        padding:6px;
        display:inline-block
    }
    #header-navig a:hover {
        color:#96C7EB;
        text-decoration:none
    }
    #random-fact {
        float:left;
        margin:4px 5px 0 0;
        color:#6E8296
    }
    #random-fact span {
        color:#95A6CA
    }
#header {
    margin:0;
    padding:0;
    height:158px;
    position:relative
}
    .rs-logo {
        max-height:65px;      
        position:absolute;
        bottom:0;
        z-index:100
    }
    .rs-logo.right-logo {
        right:10px
    }
.new-groups p {
    display: block;
    clear: both;
    overflow: auto;
    border-bottom: 1px solid #F3EEEE;
    padding: 2px 5px 2px 0;
}
.new-groups img {
    float:left;
    margin:0 5px 0 0;
    max-width:40px;
    max-height:40px
}
.new-groups a {
    margin-top: 11px;
    margin-left:5px;
    display: inline-block
}
    
/* dropdown izvēlnes */
.droplist li {
    position:relative
}
    /* visi līmeņi, ieskaitot pirmo */
    .droplist ul {
        display:none;
        position:absolute;
        top:100%;
        left:-20%
    }
        .droplist ul li {
            background: #212B3C;
            border-bottom: 1px solid #2E3853;
        }
        .droplist ul li:hover {
            background:url('/bildes/runescape/nav-pattern-blue-2.png') repeat
        }
        .droplist ul a, .droplist ul a:hover {
            width:150px;
            padding:7px 14px 7px 30px;
            background:url('/bildes/fugue-icons/blue-document-hf-select-footer.png') no-repeat 5px 60%
        }
    /* dziļāki līmeņi, neskaitot pirmo; novietojas labajā pusē */
    .droplist ul ul {
        position: absolute; 
        left: 100%; 
        top:0;
    }        
        .droplist ul ul li {
            border-left:1px solid #2e3853
        }     
        .droplist ul ul a, .droplist ul ul a:hover {
            background:url('/bildes/fugue-icons/flask.png') no-repeat 5px 60%
        }
        /* novietojums pretējā pusē (kreisajā) */
        .droplist ul ul.flip-side {
            left:-100%
        }
        .droplist ul ul.flip-side li {
            border-right:1px solid #2e3853;
            border-left:0
        }
    .droplist li:hover > ul {
        display:block
    }
    .droplist ul li:last-child {
        width:194px;
        height:5px;
        background:url('/bildes/runescape/nav-pattern-blue-2.png') repeat-x
    }
    .droplist ul ul li:first-child {
        border-top:1px solid #2e3853;
        margin-top:-1px
    }
    .droplist a.dropdown {
        padding-right:20px
    }
    .dropdown.active-page, .droplist li.selected {
        background:#2D455F
    }
    .droplist .arrow-down {
        background:url('/bildes/fugue-icons/control-arrow-down.png') no-repeat 96% 50%;
        position:absolute;
        right:8px;
        top:25%;
        width:16px;
        height:16px
    }
    .droplist .arrow-right {
        background:url('/bildes/fugue-icons/control-arrow-right.png') no-repeat right 50%;
        position:absolute;
        right:5px;
        top:25%;
        width:16px;
        height:16px
    }

/* RuneScape jaunumi, sākumlapa */
.rs-article {
    background:#fff;
    border:1px solid #EEEFF0;
    border-top:3px solid #EEEFF0;
    border-bottom:3px solid #EEEFF0;
    margin:20px 20px 0 10px;
    padding:0;
    font-size: 11px;
}
.rs-article-title {
    margin:5px 0 5px 10px;
    font-weight:700;
    font-size:14px;
}
    .rs-article-title a {
        color:#343E47
    }
.rs-article-logo {
    float:right;
    height:88px;
    margin:40px 8px 5px 7px
}
.rs-article-text {
    padding:0 12px 7px 12px;
    text-indent:10px
}
.rs-article-info {
    clear:both;
    display:block;
    overflow:auto;
    margin:0;
    padding:2px 7px;
    border-top:1px solid #EEEFF0
}
    .rs-article-info li {
        float:left;
        margin-right:7px;
        padding-left:20px;
        height:16px;
        background:none
    }
    
/* lappušu saraksta stili */
ul.pagelist {
    display:block;
    clear:both;
    margin:15px 0 20px 10px;
    height:20px;
    list-style:none;	
}
ul.pagelist li {	
    background:#F9FDFF;
    float:left;
    margin:0 5px 10px 0;
    padding:0;
    border:1px solid #D7DFE2;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
}
    ul.pagelist li:hover {
        border:1px solid #b5bdbf;
        background:#eceded
    }
    ul.pagelist li a {
        padding:4px 10px;
        color:#5876A2;
        font-weight:bold
    }
    ul.pagelist li a:hover {
        text-decoration:none;
        color:#6c7889
    }
    ul.pagelist .current-page a {
        color: #F07237 !important;
    }
ul.pagelist li.end a, ul.pagelist li.end a:active, ul.pagelist li.start a, ul.pagelist li.start a:active {
    color:#4e8dd4;
}
ul.pagelist li.active {
    padding:0px 10px;
    font-weight:bold;
    color:#468cdc
}
ul.pagelist li.arrows a, ul.pagelist li.arrows a:active {
    color:#64757a
}

/* runescape pamācību sadaļu vispārīgie stili */
.content-title {
  margin:10px 0 10px 20px;
  position:relative;
  color:#33353a;
  padding-bottom:3px;
  border-bottom:1px dotted #ccc  
}
    .content-title.no-margin {
        top:-20px
    }
.rslist {
  font-size:11px;
  margin:10px auto
}
  .col-list {
    float:left;
    margin-left:10px
  }
.rslist .listhead {
  border-bottom:2px solid #ddd;
  font-weight:bold;
  background:transparent url('/bildes/runescape/table-bg.png') repeat-x top;
  color:#374a55
} 
.rslist tr td {
  padding:3px;
  border-bottom:1px solid #ddd
} 
  .rslist tr:hover td {
    background-color:rgb(253, 253, 253)
  }  
  .rslist tr.listhead:hover td {
    background:transparent url('bildes/runescape/table-bg.png') repeat-x top
  }  
  .rslist tr td.center, .rslist-center td {
    text-align:center
  }
  .rslist tr td.right {
    text-align:right
  }
  .rslist tr.letter td {
    font-weight:bold
  }
  .rslist .number {
    color:#333;
    font-weight:bold
  }
  .rslist .border {
    border-top:2px solid #bbb
  }
  .rslist .level, .rslist .quest {
    font-size:12px;
    border:0;
    height:25px;
    font-family:tahoma,verdana,arial;
    padding:3px 
  }
  .rslist .level {
    width:25px;  
    text-align:center;
    color:orangered
  }
  .rslist .quest {
    width:160px;  
  }
.rslist .transp {
  font-family:tahoma,verdana,arial;
  font-size:11px;
  border:0;
  background:transparent;
  padding:3px 5px
}
.skill-block {
    width:333px !important
}
.skill-pages {
    width:144px
}
.rs-intro {
    margin:10px 20px 0 20px;
    padding:15px;
    border:1px solid #ddd;
    border-bottom:2px solid #bbb;
    border-top:2px solid #bbb;
    position:relative
}
.rs-intro p {
    text-indent:10px;
    font-size:11px
}

/* runescape kvestu sēriju sadaļa */
#intro-quests img {
    max-height:120px;
    float:left;
    margin:0 10px 5px 0
}
#quests-tabs {
    margin:0 0 20px 40px;
    padding:0;
    border:1px solid #bbb;
    border-top:0;
    float:left;
    font-size:11px
}
    #quests-tabs li {
        float:left;
        background:transparent;
        margin:0;
        padding:0;
        border-right:1px solid #ddd
    }
    #quests-tabs li a {
        padding:2px 12px;
        display:block
    }
    #quests-tabs .nohover {
        font-weight:bold;
        padding:2px 12px;
    }
    #quests-tabs li a:hover {
        background: #EEF3F3;
        color: #585C66;
        text-decoration: none;
    }
    #quests-tabs .nohover:hover {
        background:none
    }
    #quests-tabs li img {
        padding:0;
        margin-top:0;
        position:relative;
        top:2px
    }
#quests-series {
    margin-left:20px
}
    .series {
        float:left;
        width:160px;
        min-height:150px;
        padding:5px 5px 8px 5px;
        margin:0 7px 20px 0;
        background:#f4f3f3;
        border:1px solid #ddd;      
        font-size:11px
    }
    .series .series-title {
        margin:0 auto 5px;
        padding:0 0 3px 0;
        font-weight:bold;
        color:#2d3031;
        border-bottom:1px dotted #ccc
    }
    .series img {
        margin:3px auto 10px;
        border:3px solid #ddd;
        max-width:150px
    }      
    .series a {
        margin:0;
        padding-left:17px;
        display:block;
        overflow:auto;
        background:url('/bildes/runescape/li.png') no-repeat;
    }
#quests-outro {
    position:relative;
    border-top:2px solid #bbb
}
    .facts-title {
        color:#33353a;
        clear:both;
        padding: 5px 0 3px 10px
    }
    #quests-outro p {
        border-bottom: 1px dotted #ddd;
    }
.stats-left, .stats-right {
    margin:10px 0 0 0;
}
    .stats-left {
        float:left
    }
    .stats-right {
        float:right
    }
    .stats-left tr td, .stats-right tr td {
        padding:0 0 5px 5px;
        color:#374e5b
    }
    .stats-left td.left, .stats-right td.left {
        text-align:right;
        color:#000000   
    }
    .stats-left tr.space td, .stats-right tr.space td {
        padding-top:17px
    }
    #balance {
        position:relative;
        border-bottom:1px solid #ccc;
        left:25px;
        bottom:40px;
        max-height:220px;
        padding-bottom:5px
    }
#quests-facts {
    position:relative;
    left:-20px;
    clear:both;
    padding-top:10px
}
    #quests-facts li {
        padding-bottom:2px;
        margin:0 0 5px 0;
        border-bottom:1px solid #ccc;
        font-size:11px;
        width:350px;
    }
    #quests-facts li, #quests-skills li {
        padding-left:17px;
        background:url('/bildes/runescape/li.png') no-repeat;
    }
#quests-skills {
    float:left;
    margin-left:20px;
    width:35%
}
    .skill-level {
        margin:10px 0 0 0
    }
    .skill-level .center {
        color:#495d90
    }
    .skill-level .left, .skill-level .right {
        color:#33353a
    }
    #quests-skills table td {
        font-size: 11px
    }
    
/* freeplay & miniquests */
.other-quests {
    margin:20px 50px 20px 20px;
    font-size:11px;
    clear:both;
    width:730px
}
    .other-quests tr td {
        padding:5px;
        border:1px solid #ccc;
        min-height:15px;
        position:relative
    }
    .other-quests .quest-image {
        padding:2px 2px 0;
        vertical-align:middle
    }
        .quest-image img {
            max-width:150px;
            max-height:80px
        }
    .other-quests p {
        margin:0 0 0 7px
    }
    .other-quests .mq-title {
        margin:-2px 0 0 7px;
        padding:0;
        color:#7e888a
    }
    .other-quests .warning {
        position: absolute;
        margin-left: 5px;
        max-height:16px;
        max-width:16px
    }
    .warning_small {
        position:absolute;
        bottom:4px;
        right:2px;
        max-height:16px;
        max-width:16px
    }
    .other-quests .exists-not {
        padding:2px;
        width:150px
    }
/* minigames & D&D */
.mg-logo {
  float:left;
  position:relative;
  max-height:105px;
  bottom:12px
}
.dd-logo {
  float:left;
  max-height:140px;
  position:relative;
  bottom: 15px;
}
.rslist .mg-avatar {
  width:80px
}
.rslist .mg-title {
	font-weight:bold;
	color:#153f54;
	text-transform:uppercase
}
.rslist .mg-info {
   position:relative;
   width:150px
}
.rslist .mg-av {
  max-width:80px;
	max-height:80px;
	margin:3px;
	border:2px solid #ccc
}
.rslist .mg-old {
  float:right;
  position:absolute;
  top:2px;
  right:0
}
.mglist tr td {
    font-size:11px
}

/* prasmju stilizējumi */
.rs_info {
  padding:3px 7px;
  border:1px solid #bbb;
  border-left:4px solid #bbb;
  margin:7px 20px;
  font-size:11px
}
    .rs_info img {
      float:left;
      margin-right:5px;
      vertical-align:middle
    }
#sage {
    float:left;
    margin:5px;
    position:relative;
    left:-15px;
    max-height:170px
}
    #wagtail {
        position:absolute;
        right:-22px;
        top:-12px;
        max-height:90px
    }    
.skill-block, .skill-block-2 {
    border:1px solid #ddd;
    border-bottom:2px solid #a4aeb9;
    width:345px;
    height:190px;
    float:left;
    margin:10px 15px 10px 0;
    font-size:11px
}
    .skill-block-2 {
        height:210px
    }
    .skill-name {
        font-weight:bold;
        color:#3e5265;
        font-size:13px
    }
    .skill-info {
        padding:5px;
        float:left;
        width:60%;
        display:inline;
    }
    .skill-links, .skill-links-2 {
        padding-top:5px;
        width:15%;
        float:left;
        height:185px;
        position:relative;
        border-left:1px solid #ddd;
    }
    .skill-links-2 { /* linux */
        height:205px
    }
    .skill-links p {
        font-weight:bold;
        color:#5b6b7b;
        padding-left:7px
    }
    .skill-links a {
        border-bottom:1px dotted #bbb;
        padding:0 5px 3px 8px;
        margin:2px 0 0 8px;
        display:inline-block
    }
    .skill-pages {
        background:#e1e3e4;
        border-top:1px solid #c9cacc;
        position:absolute;
        bottom:0;
        display:block;
        padding:0 6px
    }
    .skill-pages, .skill-pages a, .skill-pages a:visited, .skill-pages a:active, .skill-pages a:focus {
        border-bottom:0
    }
    .skill-icon {
        margin:5px;
        float:left;
        vertical-align:middle
    } 
#skills_facts {
    margin:10px 70px 10px 15px;
    clear:both;
    position:relative
}
    #xenia {
        position:absolute;
        max-height:120px;
        right:-15px;
    }
    #skills_facts ul {
        margin:0;
        padding:0
    }
    #skills_facts ul li {
        background:transparent url('/bildes/runescape/li.png') no-repeat;
        font-size:11px;
        padding-left:20px
    }
.xp-table tr td {
    font-size:11px
}
.xp-table .number-2 {
    color:#274d73;
    font-weight:bold;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc
}
.rslist-center {
    margin-left:15px
}
/* tasks/achievement diaries un ģildes */
#trollis {
    max-height:100px;
    float:left;
    margin:0 10px 5px 0
}
    #montai {
        max-height:80px;
        float:left;
        margin:0 10px 5px 0
    }
    #wise-old-man {
        max-height:90px;
        float:left;
        margin:0 10px 5px 0
    }
.tasks-block {
    float:left;  
    padding:5px 0 0;
    margin:0 7px 20px 10px;
    border:1px solid #cccdcd;
    border-bottom:1px solid #b3b8bc;
    background:#f4f3f3;      
    font-size:11px;
    position:relative;
    width:218px
}
    .newline {
        clear:left
    }
    .border-gray {
        border:1px solid #cccdcd;
        border-bottom:1px solid #b3b8bc
    }
    .border-orange {
        border:1px solid #95a5c2;
        border-bottom:1px solid #677898
    }  
.tasks-block .tasks-title {
    margin:0 auto 5px;
    padding:0 5px 3px 7px;
    font-weight:bold;
    color:#374e5b;
    display:block;
    border-bottom:1px dotted #ccc
} 
  .tasks-block .guild-icon {     
    vertical-align:middle;
    border:0 !important;
    margin:-4px 3px 0 5px
  }
  .tasks-block .old {    
    float:right;
    position:absolute;
    top:-3px;
    right:-2px;
    border:0 !important;
  }
.tasks-block img {
    margin:3px 5px 10px;
    border:3px solid #ddd;
    max-width:200px
} 
.tasks-block p {
    margin:0 7px 3px 7px;
    padding:0;
    line-height:1.3
}  
.tasks-block ul {
    padding:0;
    margin:0
}               
    .tasks-block ul li {
        overflow:auto;
        background:transparent;
        padding:0;
        margin:0
    }
    .tasks-block ul li a.page {
        padding:4px 5px 4px 10px;
        border-bottom:0 solid #d9e4f4;
        border-top:1px solid #dadada;
        margin:0;
        display:block
    }
  .tasks-block li:hover {
    background:lavender;
    border-left:3px solid #778DA5;
  }
  .tasks-block li:hover a.page {
    padding-left:7px;
    text-decoration:none;
    color:#0059A7
  }
/* ceļveži */
.area {
    border:2px solid #e0e1e1;
    outline:1px solid #bbbcbc;  
    width:170px;  
    margin:0 20px 10px 5px;
    position:relative;
    background-color:#f1f2f2;  
    font-size:11px;
    float:left;
    height:30px;
    padding:0 5px 0 35px;
}
	.area-empty {
		opacity:0.6;
		filter:alpha(opacity=60);
	}
	.area-empty:hover {
		outline:1px solid #737374
	}
    .area a {
        clear:both;
        display:block;
        padding: 7px 7px 7px 5px
    }
    .area:hover {
        background:#e3e4e5  
    }
    .area:hover a {
        text-decoration:none
    }
.area .area-ico {
    position:absolute;
    top:1px;
    left:3px;
    max-height:40px;
    max-width:30px;
    border:0 !important;
    overflow:hidden
}
.area .cross {
	position:absolute;
	top:6px;
	left:5px;
	max-height:20px;
	max-width:20px;
	border:0 !important
}
/* ģildes */
.guild-strong {
    font-weight:bold;
    color:#355575
}
.guild-old {    
    float:right;
    border:0 !important;
    position:absolute;
    right:0;
    top:0
}
/* padomi */
.rshelp-ghost {
  background:url('/bildes/runescape/guides/ghost.png') no-repeat;
  background-position:center;
}
.rshelp-money {
  background:url('/bildes/runescape/guides/money.png') no-repeat;
  background-position:center;
}
.rshelp-info {
  background:url('/bildes/runescape/guides/Home.png') no-repeat;
  background-position:center;
}
.rshelp-armour {
  background:url('/bildes/runescape/guides/boots.png') no-repeat;
  background-position:center;
}
.rshelp-training {
  background:url('/bildes/runescape/guides/sword.png') no-repeat;
  background-position:center;
}
.rshelp-legend {
  background:url('/bildes/runescape/guides/feather.png') no-repeat;
  background-position:center;
}
/*
.qorder {
  float:left;
  margin:0 0 30px 15px
}
#quest-form {
  margin:40px 0 0 80px
}
  #quest-form p {
    margin:3px 0;
    font-weight:bold;
    color:#52545a
  }
  #quest-form .text {
    width:500px;
    height:60px;
    font-size:10px;
    display:block
  }
  #quest-form fieldset {
    width:520px
  } 
  #quest-form .info {
    font-size:10px;
    margin:0;
    padding:0;
    color:#738b9b
  }*/