/**
 *  RuneScape apakšprojekta CSS stili
 *
 *  Satura rādītājs. (CTRL + F = {nr.})
 *
 *  1. Šis un tas.
 *  2. Pārrakstītie core.css elementi
 *  3. Jaunie lapas pamatbloki
 *  4. Lapas šaurās kolonnas
 *  5. Dropdown izvēlnes
 *  6. Lappušu saraksta stili
 *  7. RuneScape jaunumi, sākumlapa
    8.0 RuneScape faktu pārvaldība
    8.1 rsmod - pamācību saraksti, rediģēšanas/pievienošanas formas
    8.2 rsmod - kvestu pārvaldība
    8.3 rsmod - prasmju prasības
 *
 *  9.0 RuneScape pamācību sadaļu stili
    9.1 RuneScape kvestu sēriju sadaļa
    9.2 freeplay & miniquests
    9.3 minigames & D&D
    9.4 prasmju stilizējumi
    9.5 tasks/achievement diaries un ģildes
    9.6 ģildes
 *
 *  10. Aptaujas
 *  11. tinyMCE uzliekamie stili
 *  12. Here be dragons!
 */
body {
    background:url('/bildes/runescape/wallpapers/magic_1920x1080.jpg') no-repeat fixed 50% 0
}
#scroll-up {
    background:rgba(86, 105, 136, 0.84) url('/bildes/fugue-icons/icons-24/arrow_down.png') no-repeat 50% 50%;
    border: 2px solid #000
}
    #scroll-up:hover {
        border:2px solid #1B1C1D;
        background:rgba(94, 130, 189, 0.84) url('/bildes/fugue-icons/icons-24/arrow_down.png') no-repeat 50% 50%;
    }
.clearfix {
    margin:0;
    padding:0;
    clear:both;
    display:block
}
.is-right-aligned {
    position:absolute;
    right:10px
}
.is-centered {
    text-align:center
}
.is-left {
    text-align:left
}
.is-smaller {
    font-size:11px
}
.is-faded {
    opacity:0.5
}
.is-faded:hover {
    opacity:1
}
.required {
    color:orangered
}

/* 2. Pārrakstītie core.css elementi */
#wrapper {
    position:relative;
    margin-top:31px;
    padding:0 0 10px 0;
    background:#CECFCF url('/bildes/runescape/pattern-wrapper.png');
    box-shadow: 0 9px 0 0 transparent, 0 9px 15px -4px rgba(6, 6, 14, 0.6), 12px 0 15px -4px rgba(6, 6, 14, 0.6), -12px 0 15px -4px rgba(6, 6, 14, 0.6);
    -moz-box-shadow: 0 9px 0 0 transparent, 0 9px 15px -4px rgba(6, 6, 14, 0.6), 12px 0 15px -4px rgba(6, 6, 14, 0.6), -12px 0 15px -4px rgba(6, 6, 14, 0.6);
    -webkit-box-shadow: 0 9px 0 0 transparent, 0 9px 15px -4px rgba(6, 6, 14, 0.6), 12px 0 15px -4px rgba(6, 6, 14, 0.6), -12px 0 15px -4px rgba(6, 6, 14, 0.6);
}
#left, #content, #right {
    float:left;
    left:0
}
#left {
    margin-left:0;
    width:200px
}
#right {
    width:186px
}
#content {
    margin-left:10px;
    width:550px
}
#content.no-left-right {
    width:95%
}
#content.no-left {
    width:766px
}
#content.no-right {
    width:744px
}
.no-right #left {
    left:0 !important
}
#top-menu #top-menu-right li ul#user-group-menu {
    width:330px;
    left:-100px
}
#top-menu #top-menu-right li ul#user-group-menu li {
    width:160px
}
#top-menu #top-menu-right li ul#user-group-menu li a {
	background: transparent;
	display: block;
	padding: 0 3px 0 0;
	margin: 0;
	height: auto;
	width: auto;
	font-family: Arial;
	font-size: 11px;
	line-height: 14px;
}
#login-block {
    margin:0 10px 0 0;
    padding:0;
    float:right
}
#login-block li {
    margin:0
}
#login-block .less-padding a {
    padding:4px 0;
    margin: 2px 5px;
}
#login-form {
    padding-top:0;
    height:auto;
    padding-bottom:2px
}
    #login-form input {
        background:#293446;
        border:1px solid #373A53;
        color:#CEDDEC;
        font-size:11px;
        padding:2px 7px;
        margin-top:6px;
        width:90px;
        font-family:verdana, tahoma, arial;
    }
    #login-form input:focus {
        outline:0;
        border:1px solid #484C74
    }
    #login-form input.login-submit {
        margin-top:6px
    }
    #login-block a.external-fb span {
        background: url("http://img.exs.lv/bildes/login.png") no-repeat scroll 0px -58px transparent;
        width: 55px;
    }
    #login-block a.external-login span {
        height: 18px;
        float: left;
        text-indent: -9999px;
        outline: 0px none;
        line-height: 18px;
    }
    #login-block a.external-dr span {
        background: url("http://img.exs.lv/bildes/login.png") no-repeat scroll 0px -40px transparent;
        width: 76px;
    }
#header-stuff {
    top:7px
}
#top-menu {
    background:url('/bildes/runescape/pattern-navig.png') repeat-x;
    border-top: 1px solid #363535;
    border-bottom: 1px solid #363535;
    z-index:100;
    width:inherit;
    font-family:verdana,ubuntu,tahoma,arial;
}
#top-menu li.selected a, #top-menu li a:hover, #top-menu li:hover a {
	background: #2090cc url('http://img.exs.lv/m/a/mad/blue.png') repeat 0 0;
	color: #222;
	text-decoration: none;
	margin: 0;
	margin-top: -1px;
	padding-top: 1px;
	text-shadow: 0 1px 0 #59add2;
}
#tools-bar {
    background:#111010;
    padding:0 8px
}
#wrapper #pm-table th.pmdate {
    width:25%
}
div pre {
    font-size:11px
}
#exs-groups li {
    width:30%
}
#user-group-menu li {
    font-size:10px
}
#top-menu-right li ul#user-group-menu li {
    width:150px;
    padding-left:0
}
#top-menu-right li li a {
    padding-left:2px
}
#top-menu-right li ul#user-group-menu {
    left:-157px;
    width:465px
}
#top-menu li ul li a, #wrapper #top-menu li.selected ul li a, #wrapper #top-menu li:hover ul li a {
    width:150px
}
#top-menu li:hover ul {
    display: block
}
#exs-groups h3 {
    margin: 5px 0 2px;
}
#online-users span {
    font-size:11px !important
}
.top-navig .red, .top-navig .r {
	color: #ef6000;
}
.top-navig .green, .top-navig .g {
	color: #60ef00;
}
#flash-message.error {
    border: 1px solid #C5C3C3
}
/* raksta saturs */
#full-story img {
    max-width:550px
}
#full-story ul li {
    padding:2px 0 2px 20px
}
#full-story tr th {
    border: 1px solid #999797;
    padding: 3px 7px;
    font-weight: 700;
    text-align: center;
    font-family: tahoma,verdana,Ubuntu,arial;
}
#full-story tr td {
    border: 1px solid #C3C8CA;
    border-collapse: collapse;
    padding: 3px 7px;
    vertical-align: middle;
    text-align:center
}
.text-notice li {
    background: none;
    padding-left: 0;
}
#full-story table img {
    vertical-align: middle;
    margin:0 3px
}
#full-story table ul {
    margin-left:0
}
#full-story table ul li {
    background: none;
    padding-left: 0;
}


/* 3. Jaunie lapas pamatbloki */
.top-navig {
    background:#000 url('/bildes/runescape/nav-pattern-blue.png') repeat-x;
    border-bottom:2px solid #000;
    color:#6D93A5;
    height:30px;
    width:100%;
    position:fixed;
    top:0;
    z-index:300
}
.top-navig nav {
   width:996px;
   margin:0 auto;
   padding:0;
   border-left:1px solid #2D2E2E;
   border-right:1px solid #2D2E2E;
   font-size: 11px;
}
    .top-navig ul, .top-navig li {
        margin:0;
        padding:0;
        float:left;
        background-image:none
    }
    .top-navig ul a {
        color:#A5BCCE;
        font-family:verdana, tahoma, arial;
        padding:7px 14px;
        display:inline-block;
    }
    .top-navig ul a:hover {
        color:#8DB2EB;
        text-decoration:none
    }
    .top-navig ul li:hover {
        background:url('/bildes/runescape/nav-pattern-blue-2.png') repeat-x
    }

ul.nav-left {
    float:left
}
ul.nav-right {
    float:right
}
#header-navig {
    overflow:hidden;
    padding:0 0 0 20px;
    border-bottom:1px solid #424346;
    font-size:11px;
    background:#0E0F0F;
    color:#6D93A5;
}
    #header-navig ul {
       margin:0;
       padding:0
    }
    #header-navig li {
        margin:0;
        float:left;
        background:none;
        padding:0
    }
    #header-navig a {
        color:#9AADBB;
        padding:6px;
        display:inline-block
    }
    #header-navig a:hover {
        color:#96C7EB;
        text-decoration:none
    }
#header {
    margin:0;
    padding:0;
    height:158px;
    position:relative
}
    .rs-logo {
        max-height:65px;
        position:absolute;
        bottom:0;
        z-index:100
    }
    .rs-logo.right-logo {
        right:10px
    }
.new-groups p {
    display: block;
    clear: both;
    overflow: auto;
    border-bottom: 1px solid #F3EEEE;
    padding: 2px 0;
}
.new-groups img {
    float:left;
    margin:0 5px 0 0;
    max-width:40px;
    max-height:40px
}
.new-groups a {
    margin-top: 11px;
    margin-left:5px;
    display: inline-block
}

/* 4. Lapas šaurās kolonnas */
#rs_columns {
    overflow:auto;
    background-image:url('/bildes/runescape/pattern-cols.png');
}
.box {
    background:#FCFCFD
}
.col-box {
    clear:both;
    overflow:auto;
    padding: 5px;
    margin:0 0 5px;
    background-color:rgba(253, 253, 253, 0.7);
    border: 2px solid #D3D0D0;
    font-size: 11px;
}
.col-box-title {
    display: inline-block;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 11px;
    font-weight: 700;
    color: #C8CED5;
    padding: 3px 12px;
    background: #232527;
    border-bottom: 1px solid #C7C7C7;
}
#left .comments {
    background:url('http://img.exs.lv/bildes/icons.png') no-repeat 0 -780px;
}
#left .friends {
    background:url('http://img.exs.lv/bildes/icons.png') no-repeat 0 -442px;
}
.box-icon {
    position:relative;
    top:3px;
    margin-right:7px
}
/* random fact box  */
.facts-box {
    min-height:100px;
    padding:5px 10px
}
    .facts-box, .facts-box p {
        line-height: 1.8;
        font-size: 11px;
        text-indent: 10px;
    }
.fetch-new-fact {
    background:url('/bildes/fugue-icons/arrow-circle-225.png') no-repeat center center;
    float:right;
    height:16px;
    width:16px;
    padding:2px
}
.fetch-new-fact:hover {
    background-color:#C8D9EC
}

/* 5. dropdown izvēlnes */
.droplist li {
    position:relative
}
    /* visi līmeņi, ieskaitot pirmo */
    .droplist ul {
        display:none;
        position:absolute;
        top:100%
    }
        .droplist ul li {
            background: #212B3C;
            border-bottom: 1px solid #2E3853;
        }
        .droplist ul li:hover {
            background:url('/bildes/runescape/nav-pattern-blue-2.png') repeat
        }
        .droplist ul a, .droplist ul a:hover {
            width:150px;
            padding:7px 14px 7px 30px;
            background:url('/bildes/fugue-icons/blue-document-hf-select-footer.png') no-repeat 5px 60%
        }
    /* dziļāki līmeņi, neskaitot pirmo; novietojas labajā pusē */
    .droplist ul ul {
        position: absolute;
        left: 100%;
        top:0;
    }
        .droplist ul ul li {
            border-left:1px solid #2e3853
        }
        .droplist ul ul a, .droplist ul ul a:hover {
            background:url('/bildes/fugue-icons/flask.png') no-repeat 5px 60%
        }
        /* novietojums pretējā pusē (kreisajā) */
        .droplist ul ul.flip-side {
            left:-100%
        }
        .droplist ul ul.flip-side li {
            border-right:1px solid #2e3853;
            border-left:0
        }
    .droplist li:hover > ul {
        display:block
    }
    .droplist ul li:last-child {
        width:194px;
        height:5px;
        background:url('/bildes/runescape/nav-pattern-blue-2.png') repeat-x
    }
    .droplist ul ul li:first-child {
        border-top:1px solid #2e3853;
        margin-top:-1px
    }
    .droplist a.dropdown {
        padding-right:20px
    }
    .dropdown.active-page, .droplist li.selected {
        background:#2D455F
    }
    .droplist .arrow-down {
        background:url('/bildes/fugue-icons/control-arrow-down.png') no-repeat 96% 50%;
        position:absolute;
        right:8px;
        top:25%;
        width:16px;
        height:16px
    }
    .droplist .arrow-right {
        background:url('/bildes/fugue-icons/control-arrow-right.png') no-repeat right 50%;
        position:absolute;
        right:5px;
        top:25%;
        width:16px;
        height:16px
    }

/* 6. Lappušu saraksta stili */
ul.pagelist {
    display:block;
    clear:both;
    margin:0;
    padding:0;
    height:20px;
    list-style:none;
}
ul.pagelist li {
    background:#F5F8FC;
    float:left;
    margin:0 0 10px 0;
    padding:0;
    border:1px solid #BECAD6;
}
    ul.pagelist li:hover {
        border:1px solid #5F8AD5;
        background:#eceded
    }
    ul.pagelist li a {
        padding:4px 10px;
        color:#1A4E70;
        font-weight: 700
    }
    ul.pagelist li a:hover {
        text-decoration:none;
        color:#287FFA
    }
    ul.pagelist .current-page {
        border:1px solid #5F8AD5
    }
    ul.pagelist .current-page a {
        color:#0D5AFF !important;
    }
ul.pagelist li.end a, ul.pagelist li.end a:active, ul.pagelist li.start a, ul.pagelist li.start a:active {
    color:#4e8dd4;
}
ul.pagelist li.active {
    padding:0px 10px;
    font-weight: 700;
    color:#468cdc
}
ul.pagelist li.arrows a, ul.pagelist li.arrows a:active {
    color:#64757a
}

/* 7. RuneScape jaunumi, sākumlapa */
.official-news {
    margin:5px 0 20px 0;
    font-size:11px;
    padding:0
}
    .official-news:after {
        content:"";
        display:table
    }
    .official-news li {
        background:#fff;
        border-bottom:2px solid rgb(235, 232, 232);
        padding:0;
        margin:10px 0 0;
        overflow:auto
    }
    .official-news .news-image {
        float:left;
        margin-right:12px;
        line-height:6em
    }
    .official-news img {
        max-width:125px;
        max-height:88px;
        vertical-align:middle
    }
    .official-news p {
        float:left;
        width:70%;
        font-size: 11px;
        line-height:1.8;
        padding-top:0
    }
    .official-news .news-title {
        display:block;
        font-weight: 700;
        float:none;
        margin-top:5px
    }
    .official-news .news-date {
        display:block;
        color:#2385B3;
    }
    .official-news .news-link {
        margin-top:0
    }
    .official-news .news-link a {
        padding:5px 10px;
        float:right;
    }
    .official-news .goto-mb {
        float: right;
        width: 20px;
        display: table;
        padding:0
    }
    .official-news .goto-mb a {
        vertical-align: middle;
        display: table-cell;
        width: 20px;
        height: 68px;
        background: #E5EBFA;
        padding-left: 5px;
    }
    .official-news .goto-mb a:hover {
        background:#C0D7E6
    }
    /* specifisko miniblogu stils */
    .rsmb-title {
        color:#38405A;
        font-weight: 700;
        padding-bottom:0;
        font-size:15px
    }
    .rsmb-text {
        margin:9px 5px 0 0
    }
        .rsmb-text a {
            margin-top:7px
        }
    .rsmb-fade {
        color: #1f4fa3
    }
.article-column {
    float:left;
    width:48%
}
    .article-column ul {
        margin-bottom:5px
    }
    .article-column li {
        margin:0;
        border-left:1px solid rgb(235, 232, 232);
        border-right:1px solid rgb(235, 232, 232);
    }
    .article-column img {
        max-width:50px;
        max-height:50px
    }
    .article-column p.news-p {
        width:97%;
		margin:2px 0 0;
        line-height:1.5
    }
    .article-column .news-date {
        color:#637B91
    }
    .article-column .news-title {
        margin-top: 4px;
    }
    .article-column .official-news li:first-child {
        border-top:3px solid rgb(235, 232, 232)
    }
    .article-column .official-news li:last-child {
        border-bottom:3px solid rgb(235, 232, 232)
    }
	.article-column .official-news {
		margin-top:0
	}
.recent-page-separator {
    height:7px;
    width:70%;
    margin:5px auto;
    background:rgb(195, 208, 228)
}

/* 8.0 RuneScape faktu pārvaldība */
table.facts-table th, table.facts-table td {
    padding:5px 10px;
}
table.facts-table th {
    font-weight: 700
}
table.facts-table td {
    font-size:11px;
    background:#fff
}
table.facts-table .row-center {
    text-align:center
}
table.facts-table .row-center img {
    position: relative;
    top: 3px;
}
table.facts-table .row-counter {
    padding:5px;
    font-weight: 700;
    text-align:center
}

/* 8.1 rsmod - pamācību saraksti, rediģēšanas/pievienošanas formas */
.list-intro, .list-text, .simple-note {
    background-color:#f4f5f7;
    margin:10px 3px;
    border:1px solid #e2e6ec;
    font-size:12px
}
    .list-intro {
        background:#f4f5f7 url('/bildes/notice.png') no-repeat 1% 10%;
        padding:7px 12px 7px 45px;
        text-indent:10px
    }
    .list-text, .simple-note {
        padding:7px 12px;
    }
.list-no-pages {
    margin:10px 3px;
    padding-bottom:3px;
    border-bottom:1px solid #eee;
    font-style:italic;
    font-size:12px
}
.list-table {
    margin-left:10px;
    margin-top:15px;
    width:97%
}
.is-splitted {
    border-top:2px solid #ccc
}
.field-title, .field-example {
    padding-bottom:0
}
.list-form textarea {
    width:600px;
    min-height:100px;
    height:auto
}

/* 8.2 rsmod - kvestu pārvaldība */
.show-related-quests:hover {
    cursor:pointer
}
.transp-input {
  font-family:tahoma, verdana, arial;
  font-size:11px;
  border:2px solid #fff;
  background:transparent;
  padding:3px 5px
}
    .transp-input:hover {
        border:2px solid #BAD2E9
    }
.series-hidden {
    display:none
}
    .series-hidden input[type=submit] {
        margin: 0 0 7px 20px;
    }
.related-quests {
    padding-left:0;
    font-size:11px;
    margin:0
}
    .related-quests select {
        margin:0 8px 0 0
    }
    .related-quests li {
        background:transparent;
        border-bottom:1px solid #eee;
        padding:3px 20px
    }
.open-quest-list {
    float: right;
    margin-top: -30px;
}
.fancy-questlist {
    width:750px;
    max-height:400px;
    font-size:11px;
    overflow-y:visible;
    overflow-x:hidden;
    margin:15px
}
    .fancy-questlist h2 {
        margin-top:0
    }
    .fancy-questlist ul {
        padding-left:0;
        column-count:4;
        -moz-column-count:4; /* Firefox */
        -webkit-column-count:4; /* Safari and Chrome */
    }
    .fancy-questlist ul li {
        background: transparent;
        border-bottom: 1px solid #E4F1F8;
        padding: 3px;
        position:relative
    }
    .fancy-questlist .mark-added {
        background:#9CE597
    }
    .fancy-questlist .mark-removed {
        background:rgb(250, 207, 214)
    }
    .fancy-questlist .related-quest {
        position:absolute;
        right:3px
    }
/* 8.3 rsmod - prasmju prasības */
table.skill-reqs {
    float:left;
    width:47%;
    margin-left:10px;
    background:#fff
}
.skill-reqs tr td {
    font-size:11px
}
.level-input, .quest-input {
    border:1px solid #E4E4E4;
    height:20px;
    font-family:tahoma,verdana,arial;
    font-size:11px;
    padding:2px 7px
}
.level-input {
    width:25px;
    text-align:center
}
.quest-input {
    width:160px
}
.is-special-input td {
    background:#e0f5fd
}
.is-not-set .quest-input {
    border:1px solid #fcb7bd
}

/* 9. RuneScape pamācību sadaļu stili */
.content-title {
  margin:10px 0 10px 20px;
  position:relative;
  color:#33353a;
  padding-bottom:3px;
  border-bottom:1px dotted #ccc
}
    .content-title.no-margin {
        top:-20px
    }
.rslist {
  font-size:11px;
  margin:10px auto
}
.col-list {
    float:left;
    margin-left:10px
}
.rslist .listhead {
  border-bottom:2px solid #ddd;
  font-weight: 700;
  background:transparent url('/bildes/runescape/table-bg.png') repeat-x top;
  color:#374a55
}
.rslist tr td {
  padding:3px;
  border-bottom:1px solid #ddd
}
  .rslist tr:hover td {
    background-color:rgb(253, 253, 253)
  }
  .rslist tr.listhead:hover td {
    background:transparent url('bildes/runescape/table-bg.png') repeat-x top
  }
  .rslist tr td.center, .rslist-center td {
    text-align:center
  }
  .rslist tr td.right {
    text-align:right
  }
  .rslist tr.letter td {
    font-weight: 700
  }
  .rslist .number {
    color:#333;
    font-weight: 700
  }
  .rslist .border {
    border-top:2px solid #bbb
  }
.skill-block {
    width:333px !important
}
.skill-pages {
    width:144px
}
.rs-intro {
    margin:10px 20px 0 20px;
    padding:15px;
    border:1px solid #ddd;
    border-bottom:2px solid #bbb;
    border-top:2px solid #bbb;
    position:relative
}
.rs-intro p {
    text-indent:10px;
    font-size:11px
}
.rs-button {
    position:relative;
    top:-6px;
    text-shadow:0;
    font-family:tahoma,verdana,Ubuntu,arial;
    color:#4F6066
}

/* 9.1 RuneScape kvestu sēriju sadaļa */
#intro-quests img {
    max-height:120px;
    float:left;
    margin:0 10px 5px 0
}
#quests-tabs {
    margin:0 0 20px 40px;
    padding:0;
    border:1px solid #bbb;
    border-top:0;
    float:left;
    font-size:11px
}
    #quests-tabs li {
        float:left;
        background:transparent;
        margin:0;
        padding:0;
        border-right:1px solid #ddd
    }
    #quests-tabs li a {
        padding:2px 12px;
        display:block
    }
    #quests-tabs .nohover {
        font-weight: 700;
        padding:2px 12px;
    }
    #quests-tabs li a:hover {
        background: #EEF3F3;
        color: #585C66;
        text-decoration: none;
    }
    #quests-tabs .nohover:hover {
        background:none
    }
    #quests-tabs li img {
        padding:0;
        margin-top:0;
        position:relative;
        top:2px
    }
#quests-series {
    margin-left:20px
}
    .series {
        float:left;
        width:160px;
        min-height:150px;
        padding:5px 5px 8px 5px;
        margin:0 7px 20px 0;
        background:#f4f3f3;
        border:1px solid #ddd;
        font-size:11px
    }
    .series .series-title {
        margin:0 auto 5px;
        padding:0 0 3px 0;
        font-weight: 700;
        color:#2d3031;
        border-bottom:1px dotted #ccc
    }
    .series img {
        margin:3px auto 10px;
        border:3px solid #ddd;
        max-width:150px
    }
    .series a {
        margin:0;
        padding-left:17px;
        display:block;
        overflow:auto;
        background:url('/bildes/runescape/li.png') no-repeat;
    }
#quests-outro {
    position:relative;
    border-top:2px solid #bbb
}
    .facts-title {
        color:#33353a;
        clear:both;
        padding: 5px 0 3px 10px
    }
    #quests-outro p {
        border-bottom: 1px dotted #ddd;
    }
.stats-left, .stats-right {
    margin:10px 0 0 0;
}
    .stats-left {
        float:left
    }
    .stats-right {
        float:right
    }
    .stats-left tr td, .stats-right tr td {
        padding:0 0 5px 5px;
        color:#374e5b
    }
    .stats-left td.left, .stats-right td.left {
        text-align:right;
        color:#000000
    }
    .stats-left tr.space td, .stats-right tr.space td {
        padding-top:17px
    }
    #balance {
        position:relative;
        border-bottom:1px solid #ccc;
        left:25px;
        bottom:40px;
        max-height:220px;
        padding-bottom:5px
    }
#quests-facts {
    position:relative;
    left:-20px;
    clear:both;
    padding-top:10px
}
    #quests-facts li {
        padding-bottom:2px;
        margin:0 0 5px 0;
        border-bottom:1px solid #ccc;
        font-size:11px;
        width:350px;
    }
    #quests-facts li, #quests-skills li {
        padding-left:17px;
        background:url('/bildes/runescape/li.png') no-repeat;
    }
#quests-skills {
    float:left;
    margin-left:20px;
    width:35%
}
    .skill-level {
        margin:10px 0 0 0
    }
    .skill-level .center {
        color:#495d90
    }
    .skill-level .left, .skill-level .right {
        color:#33353a
    }
    #quests-skills table td {
        font-size: 11px
    }

/* 9.2 freeplay & miniquests */
.other-quests {
    margin:20px 50px 20px 20px;
    font-size:11px;
    clear:both;
    width:730px
}
    .other-quests tr td {
        padding:5px;
        border:1px solid #ccc;
        min-height:15px;
        position:relative
    }
    .other-quests .quest-image {
        padding:2px 2px 0;
        vertical-align:middle
    }
        .quest-image img {
            max-width:150px;
            max-height:80px
        }
    .other-quests p {
        margin:0 0 0 7px
    }
    .other-quests .mq-title {
        margin:-2px 0 0 7px;
        padding:0;
        color:#7e888a
    }
    .other-quests .warning {
        position: absolute;
        margin-left: 5px;
        max-height:16px;
        max-width:16px
    }
    .warning_small {
        position:absolute;
        bottom:4px;
        right:2px;
        max-height:16px;
        max-width:16px
    }
    .other-quests .exists-not {
        padding:2px;
        width:150px
    }

/* 9.3 minigames & D&D */
.mg-logo {
  float:left;
  position:relative;
  max-height:105px;
  bottom:12px
}
.dd-logo {
  float:left;
  max-height:140px;
  position:relative;
  bottom: 15px;
}
.rslist .mg-avatar {
  width:80px
}
.rslist .mg-title {
	font-weight: 700;
	color:#153f54;
	text-transform:uppercase
}
.rslist .mg-info {
   position:relative;
   width:150px
}
.rslist .mg-av {
  max-width:80px;
	max-height:80px;
	margin:3px;
	border:2px solid #ccc
}
.rslist .mg-old {
  float:right;
  position:absolute;
  top:2px;
  right:0
}
.mglist tr td {
    font-size:11px
}

/* 9.4 prasmju stilizējumi */
.rs_info {
  padding:3px 7px;
  border:1px solid #bbb;
  border-left:4px solid #bbb;
  margin:7px 20px;
  font-size:11px
}
    .rs_info img {
      float:left;
      margin-right:5px;
      vertical-align:middle
    }
#sage {
    float:left;
    margin:5px;
    position:relative;
    left:-15px;
    max-height:170px
}
    #wagtail {
        position:absolute;
        right:-22px;
        top:-12px;
        max-height:90px
    }
.skill-block, .skill-block-2 {
    border:1px solid #ddd;
    border-bottom:2px solid #a4aeb9;
    width:345px;
    height:190px;
    float:left;
    margin:10px 15px 10px 0;
    font-size:11px
}
    .skill-block-2 {
        height:210px
    }
    .skill-name {
        font-weight: 700;
        color:#3e5265;
        font-size:13px
    }
    .skill-info {
        padding:5px;
        float:left;
        width:60%;
        display:inline;
    }
    .skill-links, .skill-links-2 {
        padding-top:5px;
        width:15%;
        float:left;
        height:185px;
        position:relative;
        border-left:1px solid #ddd;
    }
    .skill-links-2 { /* linux */
        height:205px
    }
    .skill-links p {
        font-weight: 700;
        color:#5b6b7b;
        padding-left:7px
    }
    .skill-links a {
        border-bottom:1px dotted #bbb;
        padding:0 5px 3px 8px;
        margin:2px 0 0 8px;
        display:inline-block
    }
    .skill-pages {
        background:#e1e3e4;
        border-top:1px solid #c9cacc;
        position:absolute;
        bottom:0;
        display:block;
        padding:0 6px
    }
    .skill-pages, .skill-pages a, .skill-pages a:visited, .skill-pages a:active, .skill-pages a:focus {
        border-bottom:0
    }
    .skill-icon {
        margin:5px;
        float:left;
        vertical-align:middle
    }
#skills_facts {
    margin:10px 70px 10px 15px;
    clear:both;
    position:relative
}
    #xenia {
        position:absolute;
        max-height:120px;
        right:-15px;
    }
    #skills_facts ul {
        margin:0;
        padding:0
    }
    #skills_facts ul li {
        background:transparent url('/bildes/runescape/li.png') no-repeat;
        font-size:11px;
        padding-left:20px
    }
.xp-table tr td {
    font-size:11px
}
.xp-table .number-2 {
    color:#274d73;
    font-weight: 700;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc
}
.rslist-center {
    margin-left:15px
}

/* 9.5 tasks/achievement diaries un ģildes */
#trollis {
    max-height:100px;
    float:left;
    margin:0 10px 5px 0
}
    #montai {
        max-height:80px;
        float:left;
        margin:0 10px 5px 0
    }
    #wise-old-man {
        max-height:90px;
        float:left;
        margin:0 10px 5px 0
    }
.tasks-block {
    float:left;
    padding:5px 0 0;
    margin:0 7px 20px 10px;
    border:1px solid #cccdcd;
    border-bottom:1px solid #b3b8bc;
    background:#f4f3f3;
    font-size:11px;
    position:relative;
    width:218px
}
    .newline {
        clear:left
    }
    .border-gray {
        border:1px solid #cccdcd;
        border-bottom:1px solid #b3b8bc
    }
    .border-orange {
        border:1px solid #95a5c2;
        border-bottom:1px solid #677898
    }
.tasks-block .tasks-title {
    margin:0 auto 5px;
    padding:0 5px 3px 7px;
    font-weight: 700;
    color:#374e5b;
    display:block;
    border-bottom:1px dotted #ccc
}
  .tasks-block .guild-icon {
    vertical-align:middle;
    border:0 !important;
    margin:-4px 3px 0 5px
  }
  .tasks-block .old {
    float:right;
    position:absolute;
    top:-3px;
    right:-2px;
    border:0 !important;
  }
.tasks-block img {
    margin:3px 5px 10px;
    border:3px solid #ddd;
    max-width:200px
}
.tasks-block p {
    margin:0 7px 3px 7px;
    padding:0;
    line-height:1.3
}
.tasks-block ul {
    padding:0;
    margin:0
}
    .tasks-block ul li {
        overflow:auto;
        background:transparent;
        padding:0;
        margin:0
    }
    .tasks-block ul li a.page {
        padding:4px 5px 4px 10px;
        border-bottom:0 solid #d9e4f4;
        border-top:1px solid #dadada;
        margin:0;
        display:block
    }
  .tasks-block li:hover {
    background:lavender;
    border-left:3px solid #778DA5;
  }
  .tasks-block li:hover a.page {
    padding-left:7px;
    text-decoration:none;
    color:#0059A7
  }

/* 9.6 Ģildes */
.guild-strong {
    font-weight: 700;
    color:#355575
}
.guild-old {
    float:right;
    border:0 !important;
    position:absolute;
    right:0;
    top:0
}

/* 10. Aptaujas */
.poll-box strong {
    color:#344669
}
.poll-box input[type=submit] {
    margin: 5px 0 0 10px
}
#poll-questions li {
    border-bottom:1px solid #F2F4FD;
    padding:2px
}
#poll-questions li:hover {
    background: #F0F2F5
}
#poll-questions li:hover label {
    color:#4577E2;
    cursor:pointer
}
#poll-questions input[type=radio] {
    position: relative;
    top: 2px;
}
#poll-questions label {
    color:#2A486F;
    display:block
}
.poll-answers li {
    color:#2A486F;
    border-bottom:1px solid #F2F4FD;
    padding-left:3px
}
.poll-answers li div div {
    background:#A8CBEC
}
.poll-answers li span {
    color:#477EAA
}
.poll-text {
    font-size:12px
}
.poll-text a {
    color:#3B729B
}
/* aptaujas - mb */
#miniblog-list li .mb-poll-question {
    color:#294268
}
#miniblog-list li .mb-poll-li {
    padding-left:56px
}
#miniblog-list li .mb-poll-li li {
    min-height: 15px;
    border-bottom: 1px solid #D3D7DD;
    color: #2A486F;
    padding: 3px 7px;
    width:75%
}
#miniblog-list li .mb-poll-vote {
    color:#1F4FA3;
    margin-left:20px
}

/* 11. tinyMCE uzliekamie stili */
.rs-image-left {
    float:left;
    margin:5px 7px 7px 0;
    position:relative;
    top:5px
}
.rs-image-right {
    float:right;
    margin:5px 0 7px 7px;
    position:relative;
    top:5px
}
.text-notice {
	color: #CF651D
}
.simple-links a {
    color:inherit
}
/* 12. Sadly no dragons here... */
