body {
	background: #ebebeb
}
#wrapper {
	background:#fff;
	margin: 0 auto 20px;
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3);
	-moz-box-shadow:0 1px 1px rgba(0,0,0,0.3);
	box-shadow:0 1px 1px rgba(0,0,0,0.3);
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
	-o-border-radius:2px;
	border-radius:2px;
	padding: 0 3px 5px;
	height: auto !important;
	height: 1100px;
	min-height: 1100px;
}
#header {
	margin-right: 3px;
	margin-left: 3px;
}
#logo {
	height: 125px;
}
#header-stuff {
	bottom: 7px;
}
#top-menu {
	margin: 0;
	background: #333 url('http://img.exs.lv/m/a/mad/dark.png') repeat 0 0;
	font-family: Ubuntu, sans-serif;
	border-bottom: 2px solid #2090cc;
	padding: 0;
	height: 33px;
}
#top-menu-left {
	padding: 0 0 0 10px;
} 

#top-menu-right {
	padding: 0 10px 0 0;
}

#header #top-menu li a {
	line-height: 33px;
	height: 33px;
	margin: 0;
	padding: 0 11px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	text-shadow: 0 1px 0 #111;
	color: #fff;
}


#header #top-menu li a:hover {
	color: #4ab0d7;
}

#header #top-menu li.selected a, #header #top-menu li a:hover, #header #top-menu li:hover a {
	background: #2090cc url('http://img.exs.lv/m/a/mad/blue.png') repeat 0 0;
	color: #222;
	margin: 0;
	margin-top: -1px;
	padding-top: 1px;
	text-shadow: 0 1px 0 #59add2;
}

#header #top-menu li a.notes {
	height: 16px;
	line-height: 16px;
	padding-top: 8px;
	padding-bottom: 9px;
}
#header #top-menu li.selected a.notes, #header #top-menu li a.notes:hover {
	padding-top: 9px;

}

#forum th {
	color: #eee;
	background: #1C597E url('http://img.exs.lv/bildes/forum.png') no-repeat 50% 0;
}
#forum th.first {
	background: #1C597E url('http://img.exs.lv/bildes/forum.png') no-repeat;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	padding: 7px 8px 9px 12px
}
#forum th.last {
	background: #1C597E url('http://img.exs.lv/bildes/forum.png') no-repeat 100% 0
}
#login-form input {
	background: #EAEAEA url('http://img.exs.lv/bildes/login.png');
}
#login-form {
	padding-top: 9px;
}
#login-form label {
	font-weight: normal;
}
#tools-bar {
	margin: 0;
	background: transparent url('http://img.exs.lv/bildes/black_35.png') repeat
}

#wrapper #top-menu li ul {
	background: #111;
	border: 2px solid #2090cc;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
	-o-border-radius:2px;
	border-radius:2px;
	top: 33px;
}
#wrapper #top-menu li ul li {
	background: #333 url('http://img.exs.lv/m/a/mad/dark.png') repeat 0 0;
	margin: 0 1px 1px 0;
}

#wrapper #top-menu li ul li a, #wrapper #top-menu li.selected ul li a, #wrapper #top-menu li:hover ul li a {
	background: transparent;
	text-shadow: 0 1px 0 #111;
	color: #fff;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	-ms-border-radius:0;
	-o-border-radius:0;
	border-radius:0;
}

#wrapper #top-menu li ul li:hover a {
	color: #2ba7d7;
}

#left h3, #right h3 {
	background: url('../bildes/h3.png') repeat-x 50% 50%;
	padding: 4px 4px 4px 7px;
	font-size: 13px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #ddd;
	margin: 8px -1px 0;
}
.mb-create {
	font-size: 11px;
}

#wrapper .box {
	border: 1px dotted #eaeaea;
	padding: 5px;
	margin: 0 -1px 8px;
	border-top: 0;
}

#wrapper .box .core-pager {
	margin: 6px 0 2px;
}

.imgs a, .imgs a:hover {
	border: 0;
}

