@-webkit-keyframes anim {
  0%   { -webkit-transform: translateY(10px) }
  50% { -webkit-transform: translateY(-10px) }
  100% { -webkit-transform: translateY(10px) }
}
@-moz-keyframes anim {
  0%   { -moz-transform: translateY(10px) }
  50% { -moz-transform: translateY(-10px) }
  100% { -moz-transform: translateY(10px) }
}
@-o-keyframes anim {
  0%   { -o-transform: translateY(10px) }
  50% { -o-transform: translateY(-10px) }
  100% { -o-transform: translateY(10px) }
}
@keyframes anim {
  0%   { transform: translateY(10px) }
  50% { transform: translateY(-10px) }
  100% { transform: translateY(10px) }
}

@-webkit-keyframes animbg {
  0%   { -webkit-transform: translateY(5px) }
  50% { -webkit-transform: translateY(-5px) }
  100% { -webkit-transform: translateY(5px) }
}
@-moz-keyframes animbg {
  0%   { -moz-transform: translateY(5px) }
  50% { -moz-transform: translateY(-5px) }
  100% { -moz-transform: translateY(5px) }
}
@-o-keyframes animbg {
  0%   { -o-transform: translateY(5px) }
  50% { -o-transform: translateY(-5px) }
  100% { -o-transform: translateY(5px) }
}
@keyframes animbg {
  0%   { transform: translateY(5px) }
  50% { transform: translateY(-5px) }
  100% { transform: translateY(5px) }
}

#hexgl-game-box * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

#hexgl-game-box {
  position: relative;
  width: 100%;
  height: 550px;
  background: #000;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 8px 24px rgba(0, 243, 255, 0.2);
  font-family: 'BebasNeueRegular', arial, sans-serif;
}

#hexgl-game-box #global {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background: url('bg.jpg') no-repeat center center;
  overflow: hidden;
  text-align: center;
  background-size: cover;
  transform: translateZ(0);
  animation: animbg 3s ease-in-out infinite;
}

#hexgl-game-box #title {
  position: absolute;
  top: 5%;
  right: 0;
  bottom: 5%;
  left: 0;
  z-index: 1;
  background: url('title.png') no-repeat center top;
  background-size: auto 50%;
  transform: translateZ(0);
  animation: anim 3s ease-in-out infinite;
}

#hexgl-game-box #menucontainer {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 8%;
  left: 0;
  z-index: 2;
}

#hexgl-game-box #menu {
  position: relative;
  display: block;
  width: 100%;
  max-width: 600px;
  margin: auto;
  text-align: center;
  font-size: 2em;
  font-family: 'BebasNeueRegular', arial, sans-serif;
  text-transform: uppercase;
  color: #4190bb;
}

#hexgl-game-box #menu div {
  padding: 0.1em 0 0 0;
  margin: 0 0;
  cursor: pointer;
  text-shadow: 0 0 10px rgb(255,255,255);
  transition: transform 0.2s ease;
  transform: translateZ(0px) scaleY(0.8);
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 40%,rgba(255,255,255,0.5) 60%,rgba(255,255,255,0) 100%);
}

#hexgl-game-box #menu div:hover {
  color: #f66439;
  transform: scaleY(1.1);
}

#hexgl-game-box #start {
  font-size: 1.8em;
  color: #f66439;
}

#hexgl-game-box #start:hover {
  color: #f8854b !important;
}

#hexgl-game-box #step-2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black;
  vertical-align: bottom;
  text-align: center;
  padding: 20px;
  color: white;
  font-size: 2em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60% auto;
}

#hexgl-game-box #step-3 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black;
}

#hexgl-game-box #step-3 #progressbar {
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
  width: 0%;
  background: white;
}

#hexgl-game-box #step-4 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#hexgl-game-box #step-4 canvas {
  pointer-events: none;
  width: 100% !important;
  height: 100% !important;
}

#hexgl-game-box #overlay {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#hexgl-game-box #step-5 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black;
  text-align: center;
  padding: 80px 20px;
  color: white;
  font-size: 2em;
  z-index: 10000;
}

#hexgl-game-box #step-5 #time {
  font-size: 4em;
}

#hexgl-game-box #credits {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background: black;
  overflow-y: auto;
  text-align: center;
  color: white;
  font-size: 1.1em;
  padding: 40px 20px;
}

#hexgl-game-box #credits h3 {
  font-size: 2em;
  color: #666;
  margin: 15px 0 5px 0;
}

#hexgl-game-box #credits b {
  font-size: 1.2em;
  color: #bbb;
}

#hexgl-game-box #credits h4 {
  color: #555;
  font-size: 1.2em;
  margin-top: 20px;
}
