.idb-small {
  font-size:10px
}
table.idb-small tr td{
	padding:3px 7px !important
}
.idb-red {
  color:rgb(154, 189, 236);
}
.idb-green {
  color:#168d19;
}
.idb-blue {
  color:#2889b2;
}
.idb-title, .idb-title-2 {
	font-weight:bold;
	font-size:13px;
	margin:10px auto;
	padding:0 8px 3px 5px;
	color:#f6f6f6;
	border-bottom:2px solid #242424 !important;
	width:94%
}
.idb-title-2, .borderline {
	width:100%
}
.borderline {
	margin:10px auto;
	padding:0 8px 3px 5px;
	border-bottom:2px solid #616d77
}
#idb-info {
  display:block;
  margin:15px 45px 20px 15px; 
  border:2px solid #666464;
  outline:1px solid #404040;
  padding:7px;
  overflow:auto;
  font-size:11px
}
#idb-info img {
	float:left;
	vertical-align:middle;
	max-height:50px;
	max-width:50px;
	margin-right:15px
}
.idb-blocktext {
  display:block;
  color:#314658;
  padding:10px;
  border:1px solid #ddd;
  width:600px;
  font-size:11px;
  margin:10px auto 20px
}
.input-normal, .input-small {
	background:#404040;
	border:1px solid #2c2c2c;
	color:#fff;
	padding:2px 5px
}
.input-normal {
	width:300px
}
.input-small {
	width:70px
}
.input-tiny {
	width:40px;
	height:22px;
	font-size:11px;
	background:#404040;
	border:1px solid #2c2c2c;
	color:#fff;
	padding:3px 5px
}
select {
	background:#404040 !important;
	border:1px solid #2c2c2c !important;
	color:#fff !important;
	padding:2px 3px
}
.idb-textarea, .idb-textarea-0, .idb-txtarea {
	overflow:auto !important;
	margin:-5px;
	font-size:11px;
	min-height:15px;
	background:rgb(97, 97, 97) !important;
	border:1px solid #2c2c2c !important;
	color:#fff;
	padding:3px 7px
}
.idb-textarea-wide {
  height:40px;
  width:630px
}
.idb-textarea {
	width: 640px !important;
	max-height:250px;
	overflow:auto
}
.idb-txtarea {
	width: 540px !important;
	min-height:70px;
	overflow:auto;
	border-color: #aaa
}
.small_input {
	font-size: 11px;
	height: 12px;
}
.input_b {
	width: 40px;
	height: 13px;
	font-size: 12px;
}
.simple-note {
	margin:10px 20px 0 20px;
	font-weight:bold;
	padding:0 10px 5px 30px;
	border-bottom:1px dotted #bbb
}

/* idb administrēšanas pogas
// -----// -----// -----// -----// -----// -----// -----// -----// -----/*/
#idb-navig {
  min-height:30px;
  overflow:auto;
  padding-bottom:3px;
  margin-bottom:20px;
  border-bottom:1px solid #242424;
  position:relative
}
#idb-navig .modbutton {
	background:url('images/modbutton-dark.png') top center no-repeat;
	border:1px solid #333333;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	width:60px;
	height:45px;
	text-align:center;
	padding-top:15px;
	float:left;
	margin-right:10px;
	position:relative
}
#idb-navig .modbutton:hover {
	background:url('images/modbutton-dark.png') bottom center no-repeat
}
#idb-navig .idb-stats {
	position:absolute;
	bottom:3px;
	right:5px
}
#idb-navig #idb-amount {
	position:absolute;
	bottom:3px;
	right:20px
}
#idb-navig .highlight {
	font-weight:bold;
	color:rgb(113, 168, 252)
}

/* sākumlapa un meklētājs
// -----// -----// -----// -----// -----// -----// -----// -----// -----/*/
#search_line {	
	min-height:100px;
	overflow:auto;
	margin:20px 40px 0px;
	clear:both;
	background:#414141
}
.search_icon {
	float:left;
	margin:0 30px 0 60px		
}
.search_input {
	position:relative;
	top:5px;
	left:10px;
	margin-bottom:8px
}
.search_lv {
	font-size:11px;
	font-weight:normal !important;
	cursor:pointer
}
.search {
	width:350px;
	font-size:14px;
	padding:4px 7px;
	color:#dddddd;
	float:left;	
	margin:25px auto 0;
	background:rgb(53, 52, 52) !important;
	padding-left:5px;
	border:1px solid #6b6a6a;
	outline:2px solid #4a4a4a
}	
.search:active {
	border:1px solid #6b6a6a;
	outline:2px solid #4a4a4a
}
.jqsearch {
	padding-right:30px;
	padding-top:10px
}
.item_list_main {
	/*width:200px;*/
	margin:0 0px 20px 0px;
	padding-left:10px;
	float:left;
	list-style:none
}
.item_list_main li{
	background:none;
	padding-bottom:3px;
	border-bottom:1px dotted #434343;
	padding-top:3px;
	width:210px;
	font-size:11px
}
.item_list_main li a{
	/*color:#426174;*/
}
.item_list_main li:hover {
	background:#3f3f3f
}
.list_main_title {
	padding-left:5px;
	padding-right:8px;
	font-weight:bold;
	color:#f6f6f6;
	border-bottom:2px solid #242424 !important;
}
.list_nr {
	color:rgb(86, 137, 185);
	font-weight:bold;
	width:18px;
	display:inline-block
}
li.pagerow {
	text-align:center;
	padding:3px auto;
	background:rgb(53, 52, 52)
}
li.pagerow:hover {
	background:rgb(53, 52, 52) !important
}
li.pagerow a:hover {
	background:rgb(53, 52, 52) !important
}
.list_main_title:hover {
	background:transparent !important
}

#list-header {
	display:block;
	clear:both;
	padding-bottom:3px;
	font-weight:bold;
	color:#f6f6f6;
	border-bottom:2px solid #242424;
	margin:auto;
	width:88%;
	overflow:auto
}
#header-left {
	padding:0 0 0 10px;
	float:left;
	margin:0;
}
#search-pages {
	float:right;
	margin:0;
	padding:0
}
#search-pages li {
	background:transparent;
	display:inline-block;
	margin:0;
	padding:0
}
#search-pages li a, #search-pages li.page-active {
	padding:1px 7px
}
#result-list {
  -moz-column-count:2; /* Firefox */
  -webkit-column-count:2; /* Safari and Chrome */
  column-count:2;
  margin:0 auto;
  clear:both;
  width:650px;
  padding-left:0px
}
#result-list li, #result-list-2 li {
  padding:6px 0 0 10px;
  border-bottom:1px dotted rgb(49, 50, 51);
  width:310px;
  overflow:auto;
  font-size:11px;
  background:transparent;
  display:inline-block;
  margin:0px
}
#result-list li img, #result-list-2 li img {
  float:left;
  margin-right:10px;
  max-height:25px;
  max-width:25px;
}
#idb_pages {
	margin:0 30px 20px 30px;
	font-size:11px
}
#idb_pages a {
	padding:8px 6px 3px;
	width:13px;
	text-align:center;
	display:inline-block;
	border-bottom:2px solid #404041;
	margin:0 2px 0px 0
}
#idb_pages a:hover {
	border-bottom:2px solid #7f7f7f
}
.idb-next, .idb-next-last {
	padding:3px 7px;
	font-weight:bold;
	font-size:10px;
	border-right:1px solid #464646
}
.idb-next-last {
	border-right:0px !important
}
.arrows img {
	vertical-align:middle;
	max-width:14px
}
#searchload {
	display:none
}
#searchload p {
	font-weight:bold;
	color:red;
	display:block;
	margin:20px;
	clear:both
}
#no-results {
	margin:10px 20px 20px 70px;
	font-size:13px;
	padding-bottom:5px;
	padding-left:20px;
	/*background:url('/modules/idb/images/cancel.png') no-repeat left*/
	background:url('/bildes/fugue-icons/cross-button.png') no-repeat left
}

/* idb help
// -----// -----// -----// -----// -----// -----// -----// -----// -----/*/
#idb-help-title {
  margin:auto;
  font-size:13px;
  font-weight:bold;
  border-bottom:1px solid #ddd;
  margin:0 0 20px 0;
  text-align:center;
  display:block
}
#idb-help  {
  border:1px solid #ddd;
  padding:10px;
  margin:auto;
  display:block;
  min-height:50px;
  margin-bottom:30px
}

/* mazais meklētājs
// -----// -----// -----// -----// -----// -----// -----// -----// -----/*/
#ssearch-block {
	float:right;
	width:320px;
	background:#515151;
	position:relative;
	z-index:5;
	padding:3px 5px
}
#ssearch-input {
	background:rgb(53, 52, 52);
	border:1px solid #565657;
	outline:1px solid #3a3a3b;
	color:#fff;
	padding:3px 7px
}
#ssearch-results, a.form-page, a.close-results {
	z-index:150;
	position:absolute;
	overflow:auto;
	color:#282727;
	background:#404040;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px	
}
#ssearch-results {
	min-height:200px;
	width:205px;
	border:2px solid #313131;
	padding:5px;
	display:none
}
#ssearch-results a {
	font-size:10px;	
	margin-bottom:3px;
}
#ssearch-results img {
	max-width:25px;
	vertical-align:middle;
	margin-right:7px
}
.close-results {
	position:absolute;
	left:-30px;
	display:none
}
.form-page.page-back {
	top:65px
}
.form-page {
	left:222px;
}
.form-page, .close-results {
	height:30px;
	width:30px;
	border:2px solid #313131
}
.form-page:hover, .close-results:hover {
	text-decoration:none;
	background:#4e4e4e
}
.form-page img {
	position:relative;
	top:5px;
	left:5px;
	max-width:20px
}
.close-results img {
	position:relative;
	top:1px;
	left:1px;
	max-width:29px
}
.close-form:hover, .close-results:hover {
	cursor:pointer
}


/* idb priekšmeta apskate un rediģēšana
// -----// -----// -----// -----// -----// -----// -----// -----// -----/*/
#item_info {
	overflow: auto;
	width: 100%;
	min-height:500px
}
#item_table {
	float: left;
	margin-right: 10px;
	width: 530px;
}
#item_table tr td {
	border: 1px solid #444445;
	padding: 5px;
	font-size:11px
}
.rowbg {
	background: url('images/rowbg-dark.png') top;
	color:#dbdbdb;
	border-bottom:1px solid #606060
}
.rowbg td {
	padding:2px 0 4px !important;	
}
.item-header {
	font-weight: bold;
}
.item-header td img {
	max-height:14px;
	vertical-align:middle;
	float:left;
	margin:4px 7px 0 5px
}
.item-header td p {
	color:#47aaff;
	display:inline-block
}
.item_picture {
	height: 20px;
	width: 100px;
	background:rgb(52, 52, 53);
	position:relative;
	padding:0px 5px 5px !important
}
.item_picture img {
	margin: 5px 0 3px 12px
}
.weight {
	position:absolute;
	bottom:3px;
	right:6px;
	color:#325a6f;
}
.idb_button0, .idb_button1, .idb_button_off, .idb_button_on {
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	/*width: 70px;*/
	padding:4px 14px;
	max-height: 20px;
	float:left;
	margin:0 3px 0 0;
	text-align: center;
	color: #4b616d;
	cursor:pointer
}
.idb_button0, .idb_button_off {
	background: url('images/button-off.png') repeat-x top center;
	border:1px solid #dddbdb
}
.idb_button0:hover, .idb_button_off:hover {
	border:1px solid #c2c2c2
}
.idb_button1, .idb_button_on {
	background: url('images/button-on-3.png') repeat-x top center;
	border:1px solid #6dd584;
	color:#16661c
}
.idb_button1:hover, .idb_button_on:hover {
	border:1px solid #50c46b
}
.item-field {
	font-weight:bold;
	color:rgb(150, 150, 150);
	padding-right:5px !important
}
#option-line {
	display: block;
	margin-bottom: 10px;
	margin-right: 30px;
	overflow: auto
}
#option-line a {
	float:right;
	padding:5px 35px
}
#bonuses {
	margin-left:15px;
}
.bonuses tr td {
	min-height: 15px;
	border: 1px solid #444445;
	padding: 5px;
	font-size:11px
}
.bonuses td {
	overflow: auto
}
.idb_hlight {
	color:rgb(162, 179, 194);
}
.idb_center {
	text-align: center;
}
.idbtable {
	width:680px;
	margin-top:10px;
	margin-left:15px
}
.idbtable td {
	border: 1px solid #444445;
	min-height: 5px;
	padding: 5px;
	font-size:11px !important
}
.idbtable .spec {
	float:right;
	margin-top:3px
}
.idbtable a:hover {
  text-decoration:none;
}
.rowname {
  color:#979898;
  font-weight:bold
}
.hl-row {
  background:rgb(47, 47, 48);
}

/* viss pārējais
// -----// -----// -----// */
.idb-table, .idb-tbl2 {
  margin:auto;
  font-size:11px
}
.idb-table img, .idb-tbl2 img {
  max-height:25px;
  max-width:25px
}
.idb-table tr.idb-table-header td, .idb-tbl2 tr.idb-table-header td {
  font-weight:bold
}
.idb-table tr td { 
  padding:5px !important;
  border:1px solid #444445
}
.idb-tbl2 tr td {
	padding:3px 5p !important;
	border:1px solid #ddd
}
#idb-table-options {
  display:block;
  overflow:auto;
  margin:20px 0 20px 70px;
}
.table-accept {
	width:60% !important;
	margin:20px 0 20px 50px
}
.approve_amount {
  position:absolute;
  bottom:2px;
  right:2px;
  font-weight:bold;
}
.small_desc {
  color:#f56161;
  float:right;
}
.small_important {
  max-height:20px;
  max-width:20px;
  float:left;
  vertical-align:middle;
  margin-right:15px;
}
.reset-item {
	float:right;
	margin:1px 0 0 0
}
.item_editor .rowbg span {
	float:right
}
.list-hl {
	color:rgb(139, 169, 211)
}
.lpp-hl {
	color:rgb(75, 160, 201)
}
