

/* minispēļu stilizējumi */
/*.mg-intro {
  font-size:11px
}
.rslist {
	width:auto
}
.rslist p {
  margin:0 5px 2px;
  padding:0
}
.rslist tr td {
  font-size:11px;
  font-family:tahoma,verdana,arial;
  line-height:1.5
}
.mg-intro {
  position:relative;
  z-index:2;
  display:block;
  margin:0 10px 20px 10px;
  text-indent:15px;
  padding:5px;
  border-bottom:3px solid #ccc
}*/





/*
#mg-txtarea {
  width:550px !important;
  height:150px !important;
}
.mg-top-info {
  display:block;
  margin:0 10px 20px 10px;
  text-indent:15px;
  padding:5px;
  border-bottom:3px solid #ccc;
}
#textarea {
  width:500px !important;
  height:150px !important;  
}

.order-title {
  font-weight:bold;
  text-align:center;
  color:#5f697b
}*/


