ErrorDocument 404 /index.php?c=240
ErrorDocument 403 /index.php?c=241

Options +FollowSymlinks
RewriteEngine on
RewriteBase /

RewriteRule ^js/(.*\.js) combine.php?type=javascript&files=$1
RewriteRule ^css/(.*\.css) combine.php?type=css&files=$1

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{HTTP_USER_AGENT} ^GSLFbot
RewriteRule ^.* - [F,L]

RewriteCond %{HTTP_HOST} ^ezgif.com$
RewriteRule ^favicon\.ico$ /bildes/ezgif/favicon.ico

RewriteCond %{HTTP_HOST} ^coding.lv$
RewriteRule ^apple-touch-icon\.png$ /bildes/coding/apple-touch-icon.png

RewriteCond %{HTTP_HOST} ^coding.lv$
RewriteRule ^favicon\.ico$ /bildes/coding/favicon.ico

RewriteCond %{HTTP_HOST} ^rp.exs.lv$
RewriteRule ^favicon\.ico$ /bildes/gta/favicon.ico

RewriteCond %{HTTP_HOST} ^www\.exs\.lv$ [NC]
RewriteRule ^(.*)$ http://exs.lv/$1 [L,R=301]

RewriteCond %{REQUEST_URI} ^(.*)//$
RewriteRule . http://exs.lv%1/ [R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^dati/bildes/topic-av/([0-9a-z\-_.]+)$ index.php?viewcat=page-avatars&img=$1 [NC,L,QSA]

RewriteRule ^page/([0-9]+)-(.*)/?$ index.php?p=$1 [NC,L,QSA]

RewriteRule ^rss\.php$ index.php?viewcat=rss [NC,L,QSA]

RewriteRule ^say/([0-9]+)/([0-9]+)-(.*)/open$ index.php?m=$1&single=$2&unclose [NC,L]
RewriteRule ^say/([0-9]+)/([0-9]+)-(.*)/close$ index.php?m=$1&single=$2&close [NC,L]
RewriteRule ^say/([0-9]+)/([0-9]+)-(.*)/?$ index.php?m=$1&single=$2 [NC,L,QSA]
RewriteRule ^say/([0-9]+)/skip-([0-9]+)/?$ index.php?m=$1&skip=$2 [NC,L]
RewriteRule ^say/([0-9]+)/?$ index.php?m=$1 [NC,L]

RewriteRule ^psychostats/?$ index.php?viewcat=psychostats [NC,L,QSA]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([0-9a-z\-_]+)/([0-9a-z\-_]+)/([0-9a-z\-_]+)/([0-9a-z\-_]+)/([0-9a-z\-_]+)/?$ index.php?viewcat=$1&var1=$2&var2=$3&var3=$4&var4=$5 [NC,L,QSA]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([0-9a-z\-_]+)/([0-9a-z\-_]+)/([0-9a-z\-_]+)/([0-9a-z\-_]+)/?$ index.php?viewcat=$1&var1=$2&var2=$3&var3=$4 [NC,L,QSA]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([0-9a-z\-_]+)/([0-9a-z\-_]+)/([0-9a-z\-_.]+)/?$ index.php?viewcat=$1&var1=$2&var2=$3 [NC,L,QSA]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([0-9a-z\-_]+)/([0-9a-z\-_.]+)/?$ index.php?viewcat=$1&var1=$2 [NC,L,QSA]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([0-9a-z\-_]+)/?$ index.php?viewcat=$1 [NC,L,QSA]

RewriteRule ^ES_SPAMOJU_SUDUS/(.*)?$ index.php?viewcat=ES_SPAMOJU_SUDUS [NC,L]

