ErrorDocument 404 /index.php?c=240
ErrorDocument 403 /index.php?c=241

Options +FollowSymlinks
RewriteEngine on
RewriteBase /

RewriteRule ^js/(.*\.js) combine.php?type=javascript&files=$1
RewriteRule ^css/(.*\.css) combine.php?type=css&files=$1

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{HTTP_USER_AGENT} ^GSLFbot
RewriteRule ^.* - [F,L]

RewriteCond %{HTTP_HOST} ^ezgif.com$
RewriteRule ^favicon\.ico$ /bildes/ezgif/favicon.ico

RewriteCond %{HTTP_HOST} ^coding.lv$
RewriteRule ^apple-touch-icon\.png$ /bildes/coding/apple-touch-icon.png

RewriteCond %{HTTP_HOST} ^coding.lv$
RewriteRule ^favicon\.ico$ /bildes/coding/favicon.ico

RewriteCond %{HTTP_HOST} ^rp.exs.lv$
RewriteRule ^favicon\.ico$ /bildes/gta/favicon.ico

RewriteCond %{HTTP_HOST} ^runescape.exs.lv$
RewriteRule ^favicon\.ico$ /bildes/faviconrs.ico

RewriteCond %{HTTP_HOST} ^www\.exs\.lv$ [NC]
RewriteRule ^(.*)$ http://exs.lv/$1 [L,R=301]

RewriteCond %{REQUEST_URI} ^(.*)//$
RewriteRule . http://exs.lv%1/ [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^dati/bildes/topic-av/([0-9a-z\-_.]+)$ index.php?viewcat=page-avatars&img=$1 [NC,L,QSA]

RewriteRule ^page/([0-9]+)-(.*)/?$ index.php?p=$1 [NC,L,QSA]

RewriteRule ^rss\.php$ index.php?viewcat=rss [NC,L,QSA]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?fakeurl=$1 [QSA,L]

RewriteRule ^ES_SPAMOJU_SUDUS/(.*)?$ index.php?viewcat=ES_SPAMOJU_SUDUS [NC,L]

<Files  ~ "\.tpl$">
  Order allow,deny
  Deny from all
</Files>
